*
{
box-sizing:border-box
}

.cart_count{
	font-size: 12px;
    background:#e95959;
    color: #fff;
    padding: 2px 8px;
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-left: -10px;
}

/* Header Start */
.header 
{
	line-height: 16px;
    margin-top: 10px;
     box-shadow: 0px 4px 0px 0px #f5f2f2;
     position: fixed;
    z-index: 1000;
    width:100%;
    background-color: white;
    top:-10px;
}
.header ul {
	list-style-type: none;
	
}

.header ul li {
	float:left;
	display: inline;
	margin-top: 24px;
	font-size: 14px;
	font-weight: 500;
	color:black;
}

.header ul li:hover {
	color:#790073;
}
.header button {
	background-color: #770071;
	border-radius: 20px;
	padding:10px;
	margin-left:48px;
	width:100px;
	color:white;
	margin-top: 12px;
	border:1px solid transparent;
}
.nav-link a {
	font-weight:600;
	font-size: 15px;
	color:#70006b;
}


/* Header end */

.about {
	background-color: #f9f3f9;
	width: 100%;
	height:auto;
	margin-top: 6rem;
	padding: 1rem;
}
.about h3 {
	/*margin-top: 70px;*/
}
/*
|----------------------------------------------------------------------------------
|   shadow
|----------------------------------------------------------------------------------
*/
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/*///////////////////////////////*/
.about img
{
	width:244px;
	height:180px;
	border-radius: 8px;
	margin-top:20px;
	margin-bottom: 20px;
	padding: 1rem;
}
.about img:hover
{
  box-shadow: 4px 4px 4px 4px #e4e4e4;
  /*box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);*/
  transition: opacity 0.3s ease-in-out;
  transform: scale(1.3);
}
.about2
{
	width: 100%;
	height:auto;
	padding-bottom: 60px;
}
.about2 img
{
	width:244px;
	height:163px;
	border-radius: 8px;
	margin-top:20px;
	margin-bottom: 20px;
}
.about2 h3 {
	margin-top:30px;
	margin-bottom:10px;
	

}
/* End Second Section */

/* App Store Box */
.app-store {
	background-color:#f0f2f7;
}
.app-store img
{
	border-radius: 20px;
	margin-left:20px;
}
/* End App Store Box */

/* Footer Box */
.footer {
	background-color: rgb(23 30 48); 
}
.footer h5 {
	color:#eb733f;
	margin-top:30px;
}
.footer img {
	margin-top:70px;
}
.footer ul {
	list-style-type: none;
	color:white;
	padding-top:10px;
}
.footer ul a {
	padding:5px;
    margin-left:-36px;
    color:white;
    text-decoration: none;
}
/* Cart */

.cart {
	background-color: #f0f5f7;
}
.cart .cart-content h5
{
  margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.cart .cart-content p
{
	font-size: 14px;
    font-weight: 500;
    color: #8c8989;
}
.cart .cart-content button
{
	-webkit-box-align: center;
	background-color: #770071;
	border-radius: 20px;
	color:white;
	margin-left: 434px;
	width:250px;
	border:1px solid transparent;
	margin-bottom: 200px;
}
/* Cart css end */

/* Store Css */
.store {
	background-color: #f9f3f9;
	height:190px;
}
.store h1 {
	margin-top: 110px;
	margin-left:10px;
	
}
.store img {
	width: 47px;
    height: 45px;
    margin-top: 105px;
  
}
.store ul {
	list-style-type: none;
}
.store ul li {
	display: inline;
	float: left;
}
/*///////////////////////////////////////////////////////////////////////////*/

.vendor .left-store .store-details
{
	
	display: inline-block;
}
.vendor .left-store h5 {
	display: inline-block;
	
}
.vendor .left-store p {
	display: inline-block;
	color: rgb(87, 94, 115);
	white-space: nowrap;
	font-weight: 500;
    font-size: 16px;
    
}
.vendor .left-store {
	padding: 10px;
	height:150px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #e4e4e4b5;
}
.vendor .left-store:hover {
	box-shadow: 4px 4px 4px 4px #e4e4e4;
	border-radius: 5px;
	padding:10px;
	margin-bottom: 10px;
	transform: scale(1.06);
}
/*///////////////////////////////////////////////////////////////////////////*/
/* Grocery Store */
.grocery-store .left-store .store-details
{
	
	display: inline-block;
}
.grocery-store .left-store h5 {
	display: inline-block;
	
}
.grocery-store .left-store p {
	display: inline-block;
	color: rgb(87, 94, 115);
	white-space: nowrap;
	font-weight: 500;
    font-size: 16px;
    
}
.grocery-store .left-store {
	padding: 10px;
	height:150px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.grocery-store .left-store:hover {
	box-shadow: 4px 4px 4px 4px #e4e4e4;
	border-radius: 5px;
	padding:10px;
	margin-bottom: 50px;
}

.store-detail 
{
	background-color: #f9f3f9;
	width: 100%;
	height:auto;
	margin-top: 70px;
	margin-bottom: 40px;
}
.store-detail img
{
	margin-top: 30px;
	border-radius:6px;
	margin-bottom: 30px;
	width:180px;
	height: 160px;
	display: inline;
}
.store-detail h3 {
	display: inline;
}
.search-page {
   box-shadow: 4px 4px 4px 4px #e4e4e4;
   height:400px;
   margin-left: 187px;
    margin-right: 187px;
   padding-left: 15px;
   padding-right: 15px;
}


/*item*/
.item{
	/*display: inline-flex;*/
	box-shadow: 1px 1px 1px 1px #e4e4e4;
	padding:8px;
	margin-bottom: 10px;
	border-radius: 15px;
	padding-left: 1rem;
	background-color: #fff;
}
.item button{
	width: 72px;
	border-radius: 30px;
	font-size: 14px;
	padding: 1px !important;
	float: right;
	font-weight: 700;
	position: relative;
	right: 1rem;
}