#data_table_info {
    position: absolute;
    left: 0px;
}#data_table_length{
    position: absolute;
    left: 0px;
}
.text-blue{
	color:blue!important;
}

/*preloader*/
.preloader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url({{ asset('images/logo.png') }}) 50% 50% no-repeat #fff;
    opacity: 1.8;
    background-size: 100px 100px;

}
/*datatable*/
#data_table_info {
    position: absolute;
    left: 0px;
}#data_table_length{
    position: absolute;
    left: 0px;
}.ps__thumb-y{
    left:1rem;
}.layout-sidebar-large .sidebar-left .navigation-left .nav-item .nav-item-hold .nav-text {
    font-weight: 400; padding-right: 4px; text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label{width: 100%;}
div.dataTables_wrapper div.dataTables_filter input{width: 100%}
.dataTables_scrollBody{height: 60vh!important;}
/*select2*/
.select2-container .select2-selection--single{
	display: block;
	width: 100%;
	height: calc(1.9695rem + 2px);
	padding: 0.2rem 0.5rem;
	font-size: 0.813rem;
	line-height: 1.5;
	color: #665c70;
	background-color: #f8f9fa;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.layout-sidebar-large .main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}