@media (max-width: 1280px) {
    .main-nav .others-options .option-item:not(:last-child) {
        margin-right: 25px;
    }

    .main-nav nav .navbar-nav .nav-item:not(:last-child) {
        margin-right: 10px;
    }
    .head .middile-nav ul li a, .head .right-cart ul li a{
        font-size: 14px;
    }
    header .right-cart {
        flex: 5 !important;
    }
}
@media only screen and (max-width: 1024px){
    body{
        overflow-x:hidden ;
    }
    .head{
        justify-content: flex-start;
    }
    .head .middile-nav{
        z-index: 1;
    }
    .head .middile-nav{
        transform: translateX(-135%);
        transition: 500ms ease-in-out;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
    }
    .head .middile-nav ul{
        flex-direction: column;
        background: #ec1e24;
        align-items: flex-start;
       width: 65%;
       padding-left: 20px;
    }
    .open{
        transform: translateX(-6%) !important;
    }
    .head .burgur-menu{
        display: block;
    }
    .head .menu-open{
        top: 7px ;
    }
    .head .menu-open .lines:nth-child(1){
        transform: rotate(48deg) !important;
        top: 20px !important;
    }
    .head .menu-open .lines:nth-child(2){
        opacity: 0 !important;
    }
    .head .menu-open .lines:nth-child(3){
        transform: rotate(-48deg) !important;
    }
    .head .middile-nav ul li a{
        color: #fff;
    }
    .head .burgur-menu{
        top: 32px;
    }
    .head .menu-open {
        top: 22px;
    }
    .head .right-cart{
        flex: 37;
    }
    .head .left-logo{
        flex: 64;
        text-align: center;
    }
    .vendor-section .card span{
        transform: translateY(0);
    }
    .vender-cetogoery .category-items .items .item-dtl .item-price{
        flex: 5;
    }
    .vender-cetogoery .category-items .items .item-dtl{
        align-items: flex-start;
        flex-direction: column;
    }
    .vender-cetogoery .category-items .items{
        margin-bottom: 30px;
    }
    .login-form .left-login-image{
        left: 100px;
    }
    .login-form .right-form{
        right: 86px;
        height: 419px;
    }
    
    .head .middile-nav{
        top: 87px;
    }
    .head .mobile-hide{
        display: none;
    }
}
@media only screen and (max-width: 991px){
    .mean-container .mean-bar{
        height: 77px !important;
    }
    .about-section{
        padding: 100px 0 40px 0;
    }
    .side-nav-responsive .dot-menu{
        right: 60px;
        top: 24px;
    }
    .mean-container a.meanmenu-reveal{
        padding: 32px 15px 0 0;
    }
    .about-section {
        padding: 25px 0 40px 0;
    }
    .head .left-logo{
        flex: 3;
        text-align: right;
    }
    header .right-cart{
        flex: 2 !important;
    }
    .left-logo img {
        width: 52%;
    }
    .search-items .se-container .se-item-dtl{
        width: 100%;
    }
    .open{
        transform: translateX(-8%) !important;
    }
    .head .middile-nav ul li:not(:first-child){
        margin-bottom: 10px;
    }
    .head .middile-nav{
        top: 85px;
    }
}
@media only screen and (max-width: 768px){
    
    .side-nav-responsive .dot-menu{
        right: 45px;
        top: 24px;
    }
    .meanmenu-reveal {
        top: 11px;
    }
    .mean-container .mean-nav{
        margin-top: 78px;
        
    }
    .mobile-nav nav .navbar-nav{
        height: auto;
        padding-bottom: 20px;
    }
    
    .head .left-logo img{
        width: 60%;
    }
    .head .burgur-menu {
        top: 43px;
    }
    input[type="text"]{
        width: 184px;
    }
    
    .login-form .left-login-image{
        left: 42px;
        width: 40.5%;
    }
    .login-form .right-form{
        right: 24px;
    }
    .checkout .detial-cart{
        width: 100%;
    }
    .head .middile-nav ul li:not(:first-child){
        width: 30%;
        height: auto;
        margin-bottom: 15px;
    }
    .tab-content .category, .tab-content .detial-cart{
        height: auto;
        border-bottom: 1px solid #ccc;
    }
    .tab-content .category ul{
        align-items: flex-start;
        padding: 0;
        margin: 15px 0;
    }
    .tab-content .detial-cart{
        padding-left: 0;
        border-top: 1px solid #ccc;
        border-bottom: none;
    }
    .tab-content #cartDiv .detial-cart{
        box-sizing: border-box;
        padding-left: 15px;
    }
    .password-forgor{
        width: 100%;
    }
    .tab-content .vender-cart{
        display: none;
    }
    .tab-content .category{
        display: none;
    }
    .tab-content .reviews{
        margin-top: 10px;
    }
}
@media only screen and (max-width:767px) {
    body {
        font-size: 14px
    }

    .mobile-nav .logo img {
        max-width: 100%;
        height:100%;
        margin-top: -5px
    }

    .others-options {
        display: none !important
    }

    .side-nav-responsive {
        display: block
    }

    .side-nav-responsive .container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .side-nav-responsive .container .container {
        position: absolute;
        top: 55px;
        right: -20px;
        max-width: 185px;
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .7s;
        transition: .7s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        z-index: 2;
        padding-left: 15px;
        padding-right: 15px
    }
    .soting-itmes{
        display: flex;
        
    }
    .checkbox-item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px !important;
        margin: 0 5px !important;
    }
    .checkbox-item:not(:first-child) .serch-label{
        font-size: 10px;
    }
    .login-form .left-login-image{
        display: none;
    }
    .login-form .right-form{
        width: 100%;
        height: auto;
        right: 0;
    }
    .login-form{
        padding: 10px 0;
    }
    .vender-cetogoery .category-items .category-filters{
        flex-direction: column;
        align-items: flex-start;
    }
    .search-items .search-head .close-tab a{
        left: 20px;
    }
    .search-items .se-container .se-item-dtl{
        width: 100%;
    }
    .search-items .se-container .items .item-dtl{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 667px){
    .left-logo {
        text-align: center;
    }
   
    
    .copy-right-area .right-icons{
        justify-content: center;
    }
}
@media only screen and (max-width: 414px){
    .about-section {
        padding: 25px 0 10px 0;
    }  
    .about-heading{
        font-size: 1.6rem;
    } 
    .mobile-nav .logo img{
        max-width: 70%;
    }
    .side-nav-responsive .dot-menu{
        right: 24px;
        top: 15px;
    }
    .mean-container .mean-bar {
        height: 60px !important;
    }
    .mean-container a.meanmenu-reveal{
        padding: 12px 15px 0 0;
    }
    .copy-right-area .copy-right-text{
        padding: 30px 0;
    }
    
    .open {
        transform: translateX(-4%) !important;
    }
    .copy-right-area img{
        width: auto;
    }
    header{
        height: auto;
    }
    .head{
        justify-content: center;
        
    }
    .head .burgur-menu{
        left: 0;
        bottom: 0;
    }
    .head .right-cart ul li {
        padding: 7px;
    }
    
    .head .right-cart{
        width: 100%;
    }
    .head .burgur-menu {
        top: 16px;
    }
    .head .menu-open {
        top: 8px;
    }
    .head .menu-open .lines:nth-child(1){
        top: 16px !important;
    }
    .head .middile-nav{
        top: 44px;
    }
    .modal-content .form{
        padding: 0 15px;
    }
    .vender-cetogoery .categorey-head .category-img{
        text-align: center;
    }
    .vender-cetogoery .categorey-head .cetogery-heading{
        margin-left: 0;
    }
    .vender-cetogoery .categorey-head .cetogery-heading h1{
        text-align: center;
    }
    .vender-cetogoery .category-items .category-filters .right-filter{
        justify-content: flex-start;
    }
    .vender-cetogoery .category-items .category-filters .right-filter ul li .filter-btn{
        font-size: 15px;
    }
    .vender-cetogoery .category-items .category-filters .right-filter ul{
        padding-left: 0;
        justify-content: flex-start;
    }
    
    .vendor-section{
        position: static;
    }
    .scroll-img{
        width: 100% !important;
        padding: 0;
    }
    .vendor-section .scrollH{
        margin-top: 100px;
    }
    .hotel-products{
        margin-top: 280px !important;
    }
    .hotel-detail h1{
        color: #000;
    }
    .hotel-detail .title{
        color: #000;
    }
    .rateing-deatils .rating{
        color: #000;
    }
    .checkbox-item{
        width: 100%;
        margin-bottom: 15px;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    .checkbox-item input[type="text"]{
        width: 100%;
        border: 1px solid #ccc;
    }
    .checkbox-item:not(:first-child){
        margin-left: 0;
        margin-bottom: 15px;
    }
    .tab-content .category{
        
        display: none;
    }
    .tab-content .category ul, .tab-content .detial-cart ul{
        padding-right: 0;
        margin-left: 0;
        padding-left: 0;
        justify-content: flex-start;
        align-items: center;
    }
    .tab-content .border-rgt-lgt{
        border: none;
    }
    .checkout .detial-cart{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 5px;
    }
    .login-form .left-login-image{
        width: 100%;
        left: 0;
    }
    .login-form .right-form{
        width: 100%;
        right: 0;
    }
    .login-form{
        padding: 0;
        left: 0;
        float: none;
    }
    .login-form .right-form .inputs .form-inputs, .login-form .right-form .sign-up-form .form-inputs{
        flex-direction: column;
        margin-bottom: 15px;
    }
    .password-forgor a{
        padding: 10px 0;
    }
    .login-form .right-form .inputs .form-inputs:nth-child(3), .login-form .right-form .sign-up-form .form-inputs:nth-child(3){
        flex-direction: row;
    }
    
    .head .middile-nav ul li:not(:first-child){
        width: 50%;
        height: auto;
    }
    .head .middile-nav ul{
        padding-left: 15px;
    }
    .vender-cetogoery .category-items .category-filters{
        flex-direction: column;
    }
    .vender-cetogoery .category-items .items .item-img img{
        height: 100px;
    }
    .search-items .search-head .close-tab a::before, .search-items .search-head .close-tab a::after {
        width: 13px
    }
    .close-tab {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 44px;
        right: 43px;
    }
    .search-items .search-head .search-input{
        width: 100%;
    }
    .search-items .search-head .search-input .se-input .sea-search{
        width: 100%;
    }
    .search-items .search-head{
        position: relative;
    }
    .nav-tabs .nav-item .nav-link{
        padding-left: 0;
    }
    .search-items .se-container .se-top-tab .sort-all button{
        padding-left: 0;
    }
    .search-items .se-container .se-top-tab{
        flex-direction: column;
        align-items: flex-start;
    }
    .search-items .se-container .se-top-tab .nav-tabs{
        order: 2;
    }
    .search-items .se-container .se-item-dtl{
        width: 100%;
    }
    .search-items .se-container .items .item-img img{
        height: auto;
    }
    .scroll-detl {
        margin-top: 30px;
    }
    .vendor-section .top-hotel-details .rateing-deatils .delevry-time{
        color: #000;
    }
    .vendor-section .top-hotel-details .rateing-deatils .cost {
        color: #000;
    }
    .checkbox-item:last-child{
       background: transparent;
    }
    .checkbox-item:nth-of-type(2) {
        background: transparent;
    }
    .checkbox-item{
        justify-content: flex-start;
        margin-bottom: 10px !important;
    }
    .checkbox-item:not(:first-child) .serch-label{
        color: #000;
        margin-left: 5px;
    }
    .tab-contentH{
        margin-top: 156px !important;
    }
    .vendor-section-home .card{
        height: auto;
    }
    .vendor-section-home .col-lg-3{
        width: 50%;
    }
    .vender-cetogoery .category-items .category-filters .left-filter-dtl{
        justify-content: flex-start;
    }
    .tab-content .food .food-detials .add-food button{
        background: transparent;
    }
    .tab-content .food .food-detials .add-food .close span{
        left: 31px;
    }
    .checkbox-item:not(:first-child) .serch-label{
        font-size: 13px;
    }
    .head .middile-nav ul li{
        padding: 20px 10px;
    }
    .head .middile-nav ul{
        width: 108%;
    }
    
    .head .right-cart .fas{
        font-size: 14px;
        border: 1px solid #ccc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head .right-cart .user-name{
        font-size: 16px;
    }
    .left-logo img{
        width: 93% !important;
    }
    .head .left-logo{
        flex: 2;
        padding-left: 48px;
    }
    header .right-cart{
        flex: 3 ;
    }
    .vender-cetogoery .category-items{
        padding-bottom: 0;
    }
    .steps-progress #form1 .row .col-lg-8{
        order: 2;
    }
    .steps-progress .add-head {
        margin-top: 21px;
    }
    .login-form .right-form .or{
        margin-top: 13px;
    }
    .main-body .tab-content{
        padding-bottom: 0;
    }
    .login-form{
        padding: 30px 0;
    }
    .login-form .left-login-image{
        display: none;
    }
    .login-form .right-form{
        height: auto;
    }
    .head .right-cart .cart-count{
        right: -5px;
    }
    .checkout .detial-cart .all-food .food-name{
        margin-left: 5px;
    }
    .footer-widget .appStoreicon, .footer-widget .googlePlayicon{
        text-align: center;
    }
    .copy-right-area .left-logo img{
        width: 52% !important;
    }
    .vender-cetogoery .service{
        top: 19%;
    }
    .customize-details .custom-headind h2{
        font-size: 28px;
    }
    .soting-itmes{
        flex-direction: column;
    }
    .serch-icon{
        right: 20px;
    }
    .checkout .detial-cart .all-food .food-image{
        width: 70px;
        height: 70px;
    }
    .head .burgur-menu .lines{
        width: 24px;
        height: 3px;
    }
    .head .burgur-menu .lines:nth-child(2){
        top: 8px;
    }
    .head .burgur-menu .lines:nth-child(3){
        top: 16px;
    }
}
@media only screen and (max-width: 375px){
    .head .middile-nav{
        transform: translateX(-150%);
    }
    .open{
        transform: translateX(-5%) !important;
    }
    .checkbox-item:not(:first-child) .serch-label {
        font-size: 12px;
    }
    .head .left-logo{
        padding-left: 47px;
    }
    .vender-cetogoery .category-items .items .item-name h2{
        font-size: 16px;
    }
    .vender-cetogoery .category-items .category-filters .right-filter ul li .filter-btn{
        font-size: 14px;
    }
    .checkout .detial-cart .all-food .food-image{
        height: 65px;
        width: 63px;
    }
    .all-cart-products .apply-cp input{
        width: 238px;
    }
}