body {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Gilroy, sans-serif;
  position: relative; }

.pt-80 {
  padding-top: 80px; }

.pb-100 {
  padding-bottom: 100px; }

.pt-90 {
  padding-top: 90px; }

.pb-70 {
  padding-bottom: 70px; }

.mt-50 {
  margin-top: 50px; }

.heading h4 {
  color: #112148;
  text-transform: uppercase;
  font-weight: 600; }

/*--- top menu --*/
header {
  background: #fff;
  width: 100%;
  height: 105px;
  position: sticky;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  top: 0; }

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: relative; }

.head .middile-nav ul, .head .right-cart ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0 0 0; }

.head .middile-nav ul li:not(:first-child) {
  background-image: url("../images/nav-images/nav_image_1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 115px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center; }

.head .middile-nav ul li:not(:last-child) {
  margin-right: 12px; }

.head .middile-nav ul li:not(:first-child) a {
  color: #fff;
  display: block;
  background: #ccc;
  background: #ed1f24;
  padding: 5px 10px;
  box-sizing: border-box; }

.head .middile-nav ul li:not(:first-child) a:hover {
  color: #fff; }

.head .left-logo {
  flex: 3; }

.left-logo img {
  width: 100%; }

.head .middile-nav {
  flex: 8; }

.right-cart {
  flex: 5;
  justify-content: flex-end;
  display: flex; }

.head.right-cart {
  display: flex;
  width: 30%;
  justify-content: flex-end; }

.head .right-cart ul li {
  padding: 30px 15px;
  cursor: pointer; }

.head .middile-nav ul li {
  padding: 20px 0px; }

.head .middile-nav ul li a, .head .right-cart ul li a {
  color: #000;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  transition: 500ms ease-in-out; }

.head .middile-nav ul li a:hover, .head .right-cart ul li a:hover {
  color: #ed1f24; }

.head .right-cart .cart-count {
  position: absolute;
  top: -8px;
  right: -17px;
  width: 20px;
  height: 20px;
  background: #ed1f24;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.head .right-cart .fas {
  font-size: 20px; }

.head .burgur-menu {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 10px;
  z-index: 2;
  display: none; }

.head .right-cart .basket {
  position: relative; }

.head .burgur-menu .lines {
  position: absolute;
  content: '';
  width: 30px;
  height: 4px;
  background: #000;
  transition: 300ms ease-in-out; }

.head .burgur-menu .lines:nth-child(2) {
  top: 10px; }

.head .burgur-menu .lines:nth-child(3) {
  top: 20px; }

.head .right-cart .user {
  position: relative; }

.head .right-cart .user:hover .user-details {
  opacity: 1; }

.head .right-cart .user-details {
  position: absolute;
  width: 150px;
  right: 0;
  background: #fff;
  top: 35px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 400ms ease-in-out; }

.head .right-cart .user-name {
  text-align: center;
  font-size: 18px;
  font-weight: 600; }

.head .right-cart .user-name .fa-caret-down {
  margin-left: 5px;
  font-size: 14px; }

.head .right-cart .user-order {
  padding: 30px 0; }

.head .right-cart .user .user-details ul {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  padding: 0;
  margin-top: 0; }

.head .right-cart .user .user-details ul li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 0; }

.user-details ul li a {
  color: #000; }

.user-details ul li a:hover {
  color: #ed1f24; }

.head .right-cart .user .user-details ul li .log-out {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer; }

/*--- top menu end --*/
.main-page-content,
.cart-page-content,
.signup-page-content {
  background: #f9f7f7; }

/*--- about setion --*/
.about-section {
  padding: 120px 0 40px; }

/*===== vendor section start =====*/
.fixed {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%; }

.breadcrumbfix {
  position: fixed;
  z-index: 99;
  padding-top: 10px !important;
  height: 40px;
  width: 100%;
  top: 97px; }

.vendor-section {
  padding-bottom: 30px; }

.vendor-section .card {
  position: relative;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 5px; }

.vendor-section .card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all .5s; }

.vendor-section .card .card-img:hover {
  transform: scale(1.2);
  opacity: 0.7; }

.vendor-section .card span {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 34px;
  transition: 500ms ease-in-out;
  overflow: hidden;
  transform: translateY(-100%); }

.vendor-section .card span .far {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }

.vendor-section .card:hover span {
  transform: translateY(0); }

.vendor-section .coming-soon {
  pointer-events: none; }

.vendor-section .coming-soon .card .card-img {
  opacity: 0.7; }

.vendor-section .coming-soon .btn-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
  background: #ed1f24;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase; }

/*===== vendor section start =====*/
/*===== about section start =====*/
u,
.u {
  text-decoration: none;
  position: relative;
  padding: 0 8px 12px;
  display: inline-block;
  vertical-align: top; }

u.sm,
.u.sm {
  padding: 0 2px 1px; }

u.sm:after,
.u.sm:after {
  height: 4px; }

u:after,
.u:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  border-radius: 5px;
  background: #ee7000;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear; }

[data-words] {
  overflow: hidden; }

[data-words]:after {
  display: none !important; }

.anim-line.line-active {
  opacity: 1; }

.text-anim-item {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0); }

.text-anim-item span {
  font-size: 40px;
  font-weight: 700;
  width: 100% !important; }

.text-anim-item.anim-in {
  -webkit-transform: translate3d(-50%, -120%, 0);
  transform: translate3d(-50%, -120%, 0);
  -webkit-animation: textAnimInCenter 1s .5s forwards;
  animation: textAnimInCenter 1s .5s forwards; }

.text-anim-item.anim-out {
  -webkit-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-animation: textAnimOutCenter 1s forwards;
  animation: textAnimOutCenter 1s forwards; }

.anim-line {
  left: auto; }

.text-anim-item {
  right: 0;
  left: auto; }

.text-anim-item.anim-in {
  -webkit-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0);
  -webkit-animation: textAnimIn 1s .5s forwards;
  animation: textAnimIn 1s .5s forwards; }

.text-anim-item.anim-out {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  -webkit-animation: textAnimOut 1s forwards;
  animation: textAnimOut 1s forwards; }

@-webkit-keyframes textAnimIn {
  0% {
    -webkit-transform: translate3d(0, 120%, 0);
    transform: translate3d(0, 120%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); } }
@keyframes textAnimIn {
  0% {
    -webkit-transform: translate3d(0, 120%, 0);
    transform: translate3d(0, 120%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); } }
@-webkit-keyframes textAnimOut {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); }
  50% {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  100% {
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0); } }
@keyframes textAnimOut {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0); }
  50% {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  100% {
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0); } }
@-webkit-keyframes textAnimInCenter {
  0% {
    -webkit-transform: translate3d(50%, 120%, 0);
    transform: translate3d(50%, 120%, 0); }
  100% {
    -webkit-transform: translate3d(50%, 10%, 0);
    transform: translate3d(50%, 10%, 0); } }
@keyframes textAnimInCenter {
  0% {
    -webkit-transform: translate3d(50%, 120%, 0);
    transform: translate3d(50%, 120%, 0); }
  100% {
    -webkit-transform: translate3d(50%, 10%, 0);
    transform: translate3d(50%, 10%, 0); } }
@-webkit-keyframes textAnimOutCenter {
  0% {
    -webkit-transform: translate3d(50%, 0%, 0);
    transform: translate3d(50%, 0%, 0); }
  50% {
    -webkit-transform: translate3d(-50%, -20%, 0);
    transform: translate3d(-50%, -20%, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 120%, 0);
    transform: translate3d(-50%, 120%, 0); } }
@keyframes textAnimOutCenter {
  0% {
    -webkit-transform: translate3d(50%, 0%, 0);
    transform: translate3d(50%, 0%, 0); }
  50% {
    -webkit-transform: translate3d(50%, 20%, 0);
    transform: translate3d(50%, 20%, 0); }
  100% {
    -webkit-transform: translate3d(50%, 120%, 0);
    transform: translate3d(50%, 120%, 0); } }
/*===== about section end =====*/
/*===== vendor profile section start =====*/
.vendor-profile-section {
  position: relative; }

.vendor-profile-section .vendor-profile-inner {
  background-image: url(../images/vendor-images/vendor-cover-image-1.jpg);
  width: 100%;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover; }

.vendor-profile-section .vendor-profile-inner:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 210px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.sticky-vendor {
  position: fixed;
  top: 85px;
  width: 100%;
  z-index: 9; }

.sticky-vendor .vendor-profile-inner {
  height: 150px; }

.sticky-vendor .vendor-profile-inner:after {
  height: 150px; }

.sticky-vendor .vendor-profile-inner .v-detail {
  top: 25px; }

.sticky-vendor .vendor-profile-inner .vendor-profile-img {
  width: 100px;
  height: 100px; }

.sticky-vendor .vendor-profile-inner .venor-profile-detail {
  padding-top: 0px;
  /*    margin-top: -10px;*/ }

.sticky-vendor .vendor-profile-inner .venor-profile-detail h4 {
  font-size: 20px; }

.vendor-profile-section .v-detail {
  position: relative;
  z-index: 10;
  top: 30px; }

.vendor-profile-section .vendor-profile-img {
  width: 150px;
  height: 150px; }

.vendor-profile-section .vendor-profile-img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto; }

.vendor-profile-section .venor-profile-detail {
  padding-top: 20px; }

.vendor-profile-section .venor-profile-detail p,
.vendor-profile-section .venor-profile-detail h4 {
  margin: 5px; }

.vendor-profile-section .venor-profile-detail h4 {
  color: #fff; }

.vendor-profile-section .venor-profile-detail p {
  color: #ccc;
  font-size: 13px; }

/*===== vendor profile section start =====*/
/*===== add cart section start =====*/
.add-cart-section .nav-pills .nav-item {
  width: 33.33%;
  text-align: center; }

.add-cart-section .nav-pills .nav-link {
  color: #112148;
  font-weight: 700; }

.add-cart-section .nav-pills .nav-link.active,
.add-cart-section .nav-pills .show > .nav-link {
  background: none;
  border-bottom: 3px solid #ed1f24;
  border-radius: 0;
  color: #ed1f24; }

.add-cart-section .add-cart-section-inner {
  background: #fff;
  box-shadow: 3px 3px 14px -2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px; }

.cart-item-list {
  position: sticky;
  z-index: 9;
  top: 260px; }

.add-cart-item .add-item-list,
.cart-item-list .added-item-list {
  background: #fff;
  padding: 15px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.add-cart-item .add-item-list .item-profile-img {
  width: 80px;
  height: 80px; }

.add-cart-item .add-item-list .item-profile-detail {
  padding-left: 15px;
  margin: auto 0;
  width: 75%; }

.cart-item-list .added-item-list .added-item-profile-detail {
  padding-left: 10px;
  margin: auto 0;
  width: 50%; }

.add-cart-item .add-item {
  list-style: none;
  padding: 20px 0px;
  margin: 0px;
  /*    overflow-y: scroll;*/ }

.cart-item-list .added-item {
  list-style: none;
  padding: 20px 0px;
  margin: 0px;
  height: calc(100vh - 500px);
  overflow-y: auto;
    /*
    height: 170px;
    overflow-y: scroll;
*/ }

.add-cart-item .add-item-list .item-profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.add-cart-item .add-item-list .item-profile-img {
  width: 10%; }

.cart-item-list .added-item-list .item-profile-dot {
  width: 5%; }

.cart-item-list .added-item-list .item-profile-dot .non-veg-dot {
  border: 1px solid #ed1f24;
  width: 15px;
  height: 15px; }

.cart-item-list .added-item-list .item-profile-dot .non-veg-dot .dot {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ed1f24;
  margin-top: 1px;
  margin-left: 1px; }

.cart-item-list .added-item-list .item-profile-dot .veg-dot {
  border: 1px solid green;
  width: 15px;
  height: 15px; }

.cart-item-list .added-item-list .item-profile-dot .veg-dot .dot {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  margin-top: 1px;
  margin-left: 1px; }

.add-item-list .item-profile-detail .item-title {
  margin: 0px;
  font-size: 18px;
  color: #282c3f;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 4px; }

.added-item-list .added-item-profile-detail .item-title {
  margin: 0px;
  font-size: 15px;
  color: #282c3f;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 4px; }

.add-item-list .item-profile-detail .pricing {
  margin: 0px;
  font-size: 14px;
  color: #282c3f;
  font-weight: 500; }

.add-item-list .item-profile-detail .pricing .d-price {
  color: #aaa;
  padding-left: 5px; }

.add-item-list .item-profile-detail .pricing .dis {
  color: #ed1f24;
  padding-left: 5px; }

.add-item-list .item-profile-detail .qty span {
  font-size: 14px;
  color: #aaa;
  font-weight: 500; }

.cart-item-list .added-item-profile-detail .added-qty span {
  font-size: 12px;
  color: #aaa;
  font-weight: 500; }

.cart-item-list .cart-item-heading {
  margin: 20px 0px 10px 0px;
  font-size: 18px;
  color: #282c3f;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal; }

.cart-item-list .cart-item-heading span {
  color: #aaa; }

.add-cart-item {
  border-right: 1px solid #d8d8d8; }

.add-item-list .qty-in-de,
.added-item-list .qty-in-de {
  margin: auto 0; }

.added-item-list .qty-in-de .pricing {
  margin: 0px;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #282c3f; }

.added-item-list .qty-in-de {
  display: flex; }

.add-item-list .qty-in-de .add-btn {
  box-sizing: border-box;
  display: flex;
  border: 1px solid #ed1f24;
  background: #ed1f24;
  width: 70px;
  height: 32px;
  border-radius: 40px;
  margin-bottom: 10px; }

.add-item-list .qty-in-de .add-btn .btn-add {
  font-weight: bold;
  padding: 0px 10px;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  color: #e7e8eb; }

.add-item-list .qty-in-de .add-btn .btn-add:focus,
.add-item-list .qty-in-de .id-btn .btn-dec:focus,
.add-item-list .qty-in-de .id-btn .btn-inc:focus {
  box-shadow: none; }

.add-item-list .qty-in-de .id-btn,
.added-item-list .qty-in-de .id-btn {
  box-sizing: border-box;
  display: flex;
  border: 1px solid #ed1f24;
  width: 70px;
  height: 32px;
  border-radius: 40px; }

.add-item-list .qty-in-de .id-btn .btn-dec,
.added-item-list .qty-in-de .id-btn .btn-dec {
  color: #aaa;
  background: none;
  border: none;
  padding: 0px 8px;
  font-weight: 500;
  margin-right: 2px;
  font-size: 24px;
  line-height: 26px; }

.add-item-list .qty-in-de .id-btn .btn-inc,
.added-item-list .qty-in-de .id-btn .btn-inc {
  color: #ed1f24;
  background: none;
  border: none;
  padding: 0px 8px;
  font-weight: 500;
  margin-left: 2px;
  font-size: 24px;
  line-height: 26px; }

.add-item-list .qty-in-de .id-btn .value,
.added-item-list .qty-in-de .id-btn .value {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #ed1f24;
  pointer-events: none; }

.add-cart-section .about-item,
.add-cart-section .item-reviews {
  text-align: justify;
  padding: 20px 10px; }

.search-field {
  border-bottom: 1px solid #d8d8d8; }

.add-cart-section-inner .search-field .input-group {
  width: 65.65% !important;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 7px;
  border-radius: 7px;
  margin: 15px 0px 30px 0px; }

.add-cart-section-inner .search-field .input-group .search-icon {
  position: absolute;
  top: 12px;
  z-index: 9;
  left: 15px;
  font-weight: 500;
  color: #171e30; }

.add-cart-section-inner .search-field .input-group .form-control {
  border: 0.5px solid #e1e3ea;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
  color: #171e30;
  height: 45px;
  padding-left: 40px !important; }

.add-cart-section-inner .search-field .input-group .form-control:focus {
  outline: none;
  box-shadow: none; }

.add-cart-section .add-cart-section-inner .cart-total {
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 0px;
  border-top: 1px solid #d8d8d8;
  font-weight: 600; }

.add-cart-section .add-cart-section-inner .cart-total p {
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: #282c3f; }

.add-cart-section .add-cart-section-inner .checkout-btn .btn-checkout {
  border: 1px solid #ed1f24;
  background: #ed1f24;
  border-color: #ed1f24;
  color: #fff;
  font-weight: 600;
  padding: 8px 5px;
  transition: all .5s;
  width: 100%;
  border-radius: 40px; }

.add-cart-section .add-cart-section-inner .checkout-btn .btn-checkout:focus {
  box-shadow: none;
  outline: none; }

.add-cart-section .add-cart-section-inner .checkout-btn .btn-checkout:hover {
  background: transparent;
  color: #ed1f24; }

/*===== add cart section end =====*/
/*===== signup page section start =====*/
.signup-page-section .signup-page-inner,
.login-page-section .login-page-inner {
  background: #fff;
  box-shadow: 3px 3px 14px -2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px; }

.signup-page-inner .form-inline label {
  width: 170px;
  font-weight: 500; }

.signup-page-inner .form-inline .form-control {
  width: 330px;
  height: 35px; }

.login-page-inner .form-inline .form-control {
  height: 35px;
  width: 100%; }

.signup-page-inner .heading,
.login-page-inner .heading {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  color: #112148; }

.signup-page-inner hr,
.login-page-inner hr {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 2px;
  background: #112148; }

.signup-page-inner .form-inline .form-control:focus,
.login-page-inner .form-inline .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #112148; }

.signup-page-section p {
  margin: 15px;
  font-size: 16px;
  font-weight: 500; }

.login-page-section .text-left {
  margin: 15px; }

.signup-page-section p span {
  color: gray; }

.signup-page-inner .form-group .btn-primary,
.login-page-inner .form-group .btn-primary {
  margin-left: 170px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #112148;
  border-color: #112148;
  transition: all .5s; }

.login-page-inner .form-group .btn-primary {
  margin-left: 0px !important; }

.signup-page-inner .form-group .btn-primary:hover,
.login-page-inner .form-group .btn-primary:hover {
  background: transparent;
  color: #112148; }

.signup-page-inner .form-group .btn-primary:focus,
.login-page-inner .form-group .btn-primary:focus {
  box-shadow: none;
  outline: none; }

.login-page-inner .google-btn {
  background: #ce3d31;
  border-color: #ce3d31; }

.login-page-inner .google-btn:focus {
  box-shadow: none; }

.login-page-inner .facebook-btn {
  background: #3b5998;
  border-color: #3b5998; }

.login-page-inner .facebook-btn:focus {
  box-shadow: none; }

/*===== footer area start =====*/
.footer-area {
  background: #000; }

.footer-area .main-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 30px 0; }

.footer-widget h3 {
  color: gray;
  font-size: 21px;
  margin-bottom: 30px; }

.footer-widget .footer-list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.footer-widget .footer-list li {
  display: block;
  margin-bottom: 10px; }

.footer-widget .footer-list li a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: all .5s; }

.footer-widget .footer-list li:hover a {
  color: gray; }

.footer-widget .footer-list .appStoreicon,
.footer-widget .footer-list .googlePlayicon {
  margin-bottom: 30px;
  transition: all .5s; }

.footer-widget .footer-list .appStoreicon:hover,
.footer-widget .footer-list .googlePlayicon:hover {
  transform: scale(1.04); }

.copy-right-area {
  background: #000;
  padding: 20px 0; }

.copy-right-area .copy-right-text {
  font-size: 21px;
  color: #fff;
  margin: 0px; }

.copy-right-area .copy-right-text p {
  margin-bottom: 0; }

.copy-right-area img {
  width: 100%;
  height: auto; }

.copy-right-area .right-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.copy-right-area .right-icons a {
  text-decoration: none; }

.copy-right-area .right-icons .fab {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000; }

.copy-right-area .right-icons .fa-facebook-f:hover {
  color: #3b5998;
  background: #ccc; }

.copy-right-area .right-icons .fa-twitter:hover {
  color: #00acee;
  background: #ccc; }

.copy-right-area .right-icons .fa-youtube:hover {
  color: #FF0000;
  background: #ccc; }

.copy-right-area .right-icons .fa-instagram:hover {
  color: #3f729b;
  background: #ccc; }

.copy-right-area .right-icons span:not(:last-child) {
  margin-right: 10px; }

/*===== footer area end =====*/
/*----- modal css -----*/
.modal-content .user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0; }

.modal-content .user-icon .fa-user {
  font-size: 50px;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff; }

#exampleModalCenter {
  background: linear-gradient(45deg, rgba(255, 232, 0, 0.6) 0%, rgba(237, 31, 36, 0.6) 100%); }

.modal-content {
  background-color: rgba(0, 0, 0, 0.8); }

.modal-content .form {
  box-sizing: border-box;
  padding: 0 90px 30px; }

.modal-content .user-form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 0 15px;
  border: none;
  font-size: 16px; }

.modal-content .user-form input:focus {
  outline: none; }

.modal-content .user-form input::placeholder {
  font-size: 14px;
  color: #000; }

.modal-content .user-form input[type="submit"] {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: #ed1f24;
  color: #fff; }

.modal-content .forget-password {
  padding-left: 90px;
  display: block; }

.modal-content .forget-password a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 20px;
  text-decoration: none; }

.modal-content .remember {
  padding-left: 10px;
  font-size: 12px; }

.modal-content .close {
  text-align: right;
  margin-right: 10px;
  color: #fff; }

.modal-content .close:focus {
  outline: none; }

.remember input[type="checkbox"] {
  width: 15px !important;
  height: 15px;
  margin-right: 5px; }

.modal-content .remember label, .modal-content .sign-up label {
  color: #fff; }

.modal-content .sign-up {
  padding-left: 10px;
  text-align: center; }

.modal-content .sign-up a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-left: 5px; }

.modal-content .sign-up a:visited, .modal-content .sign-up a:hover {
  color: #ed1f24; }

.modal-content .eye-button .fa-eye {
  color: #000;
  position: absolute;
  right: 13px;
  font-size: 18px;
  top: 11px; }

.modal-content .eye-button {
  position: relative; }

/*----category page css----*/
.main-page-content .breadcrumb {
  padding: 5px 0 5px 0;
  margin-bottom: 0;
  background: #ffff;
  font-size: 14px; }

.main-page-content .breadcrumb ol li a {
  color: #ed1f24;
  text-decoration: none; }

/*---vender-detaail-page---*/
.vendor-section {
  /*background: linear-gradient(90deg, rgba(255,232,0,1) 0%, rgba(237,31,36,1) 100%);*/
  padding: 50px 0;
  background-image: url("../images/pick-ups/details-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -400px; }

.vendor-section .vender-blur {
  background-color: rgba(0, 0, 0, 0.4); }

.vendor-section .top-hotel-details .hotel-img img {
  width: 100%; }

.vendor-section .top-hotel-details .hotel-detail, .vendor-section .top-hotel-details .rateing-deatils {
  color: #fff;
  padding: 7px 0; }

.vendor-section .top-hotel-details .rateing-deatils, .vendor-section .top-hotel-details .rateing-deatils .rating, .vendor-section .top-hotel-details .rateing-deatils .delevry-time, .vendor-section .top-hotel-details .rateing-deatils .cost {
  display: inline-block; }

.vendor-section .top-hotel-details .rateing-deatils .delevry-time {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; }

.vendor-section .top-hotel-details .rateing-deatils .delevry-time {
  padding: 0 15px;
  margin: 0 15px; }

.soting-itmes {
  margin-top: 30px; }

.checkbox-item {
  display: inline-block;
  position: relative; }

input[type="text"] {
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 0 15px;
  height: 30px; }

input[type="text"]::placeholder {
  font-size: 14px; }

input[type="text"]:focus {
  outline: none; }

.serch-icon {
  position: absolute;
  right: 9px;
  top: 6px;
  font-size: 15px;
  cursor: pointer; }

.checkbox-item:not(:first-child) {
  background: #ed1f24;
  padding: 4px 20px;
  border-radius: 50px;
  margin: 0 15px;
  font-size: 16px; }

.checkbox-item:not(:first-child) input[type=checkbox] {
  cursor: pointer; }

.checkbox-item:last-child {
  margin-left: 0; }

.checkbox-item:not(:first-child) .serch-label {
  font-size: 14px;
  color: #fff; }

.hotel-detail h1 {
  font-size: 32px; }

.scrol-title {
  display: none !important; }

.scroll-img {
  width: 80% !important; }

/*--- vander tab css ----*/
.nav-tabs .nav-item .nav-link {
  color: #000;
  font-size: 18px; }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ed1f24;
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ed1f24; }

/*--- order online css ---*/
/*------ vender category page -------*/
.vender-cetogoery .categorey-head {
  padding: 30px 0; }
  .vender-cetogoery .categorey-head .category-img {
    text-align: right; }
    .vender-cetogoery .categorey-head .category-img img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  .vender-cetogoery .categorey-head .cetogery-heading {
    margin-top: 20px;
    margin-left: 20px; }
    .vender-cetogoery .categorey-head .cetogery-heading h1 {
      font-size: 28px;
      font-weight: bold; }
.vender-cetogoery .category-items {
  padding-bottom: 30px; }
  .vender-cetogoery .category-items .category-filters {
    display: flex;
    padding: 30px 0 0px;
    border-bottom: 1px solid #e9e9eb;
    margin-bottom: 30px; }
    .vender-cetogoery .category-items .category-filters .left-filter-dtl {
      font-size: 26px;
      font-weight: bold; }
      .vender-cetogoery .category-items .category-filters .left-filter-dtl .rest {
        font-size: 22px; }
    .vender-cetogoery .category-items .category-filters .right-filter {
      display: flex;
      justify-content: flex-end;
      flex: 1; }
      .vender-cetogoery .category-items .category-filters .right-filter ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin-bottom: 0; }
        .vender-cetogoery .category-items .category-filters .right-filter ul li:not(:last-child) {
          margin-right: 20px; }
        .vender-cetogoery .category-items .category-filters .right-filter ul li .filter-btn {
          font-size: 16px;
          font-weight: 500;
          color: #686b78;
          cursor: pointer;
          padding-bottom: 8px; }
          .vender-cetogoery .category-items .category-filters .right-filter ul li .filter-btn:hover {
            color: #3d4152;
            border-bottom: 2px solid #ed1f24; }
  .vender-cetogoery .category-items .active {
    color: #3d4152;
    border-bottom: 2px solid #ed1f24; }
  .vender-cetogoery .category-items a {
    color: transparent !important;
    text-decoration: none !important; }
  .vender-cetogoery .category-items .items {
    box-sizing: border-box;
    padding: 20px; }
    .vender-cetogoery .category-items .items:hover {
      transform: translateY(-2px);
      transition: 500ms ease-in-out;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px; }
    .vender-cetogoery .category-items .items .item-img {
      width: 100%;
      height: 160px; }
      .vender-cetogoery .category-items .items .item-img img {
        width: 100%;
        height: auto; }
    .vender-cetogoery .category-items .items .item-name {
      padding: 0; }
      .vender-cetogoery .category-items .items .item-name h2 {
        font-size: 17px;
        font-weight: bold;
        color: #000; }
      .vender-cetogoery .category-items .items .item-name .item-title p {
        font-size: 13px;
        color: #686b78; }
    .vender-cetogoery .category-items .items .item-dtl {
      display: flex;
      padding: 0 0 15px;
      border-bottom: 1px solid #ed1f24;
      margin-bottom: 10px; }
      .vender-cetogoery .category-items .items .item-dtl .item-rating {
        font-size: 12px;
        color: #fff;
        background: #ed1f24;
        padding: 2px 4px;
        border-radius: 5px; }
      .vender-cetogoery .category-items .items .item-dtl .item-hur {
        display: flex;
        flex: 1;
        justify-content: center;
        padding-left: 23px;
        font-size: 12px;
        color: #535665;
        opacity: 0;
        pointer-events: none; }
      .vender-cetogoery .category-items .items .item-dtl .item-price {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        font-size: 12px;
        color: #535665; }
        .vender-cetogoery .category-items .items .item-dtl .item-price .words {
          display: inline-block;
          margin-left: 5px; }
.vender-cetogoery .dsicount {
  padding-bottom: 15px;
  text-align: center; }
  .vender-cetogoery .dsicount .dis-logo {
    margin-right: 5px; }
    .vender-cetogoery .dsicount .dis-logo img {
      width: 10%;
      height: auto; }
  .vender-cetogoery .dsicount .dis-dtl {
    color: #000; }

/*------- vender page --------*/
.tab-content .food-serching {
  padding: 20px 0;
  display: flex;
  justify-content: center; }
  .tab-content .food-serching .serarch-with-icons {
    position: relative; }
    .tab-content .food-serching .serarch-with-icons input[type="text"] {
      height: 45px;
      width: 539px; }
    .tab-content .food-serching .serarch-with-icons .food-serch-icon {
      position: absolute;
      right: 23px;
      top: 13px; }
.tab-content .category, .tab-content .detial-cart {
  position: sticky;
  top: 196px;
  align-self: flex-start;
  height: calc(100vh - 150px); }
  .tab-content .category ul, .tab-content .detial-cart ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    list-style: none;
    border-right: 1px solid #ccc;
    padding-right: 20px; }
    .tab-content .category ul li, .tab-content .detial-cart ul li {
      padding: 8px 0; }
      .tab-content .category ul li a, .tab-content .detial-cart ul li a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        transition: 200ms ease-in-out;
        padding-right: 5px; }
        .tab-content .category ul li a:hover, .tab-content .detial-cart ul li a:hover {
          color: #ed1f24;
          border-right: 2px solid #ed1f24; }
.tab-content .food .food-heading h1 {
  font-size: 22px;
  padding: 8px 0;
  margin-bottom: 0; }
.tab-content .food .food-heading .food-items {
  font-size: 14px;
  padding-bottom: 8px;
  display: block; }
.tab-content .food .food-detials {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .tab-content .food .food-detials img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-right: 5px; }
  .tab-content .food .food-detials .food-name {
    flex: 15;
    padding: 8px 0; }
    .tab-content .food .food-detials .food-name h2 {
      font-size: 16px;
      font-weight: bold;
      color: #000; }
    .tab-content .food .food-detials .food-name .amounts {
      color: #ccc;
      padding: 8px 0; }
    .tab-content .food .food-detials .food-name .price {
      font-weight: bold;
      font-size: 16px; }
  .tab-content .food .food-detials .add-food {
    padding-top: 33px;
    text-align: right;
    box-sizing: border-box; }
    .tab-content .food .food-detials .add-food button {
      border: none;
      width: 90px;
      height: 35px;
      text-align: center;
      border-radius: 50px;
      background: #ed1f24;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
      .tab-content .food .food-detials .add-food button:focus {
        outline: none; }
      .tab-content .food .food-detials .add-food button .add-icon {
        font-size: 16px;
        margin-right: 10px; }
    .tab-content .food .food-detials .add-food .counter-number {
      opacity: 0;
      pointer-events: none; }
      .tab-content .food .food-detials .add-food .counter-number .cartUpdate {
        display: flex;
        position: relative;
        background: #ed1f24;
        width: 90px;
        height: 35px;
        border-radius: 50px;
        bottom: 35px; }
        .tab-content .food .food-detials .add-food .counter-number .cartUpdate #number {
          width: 100%;
          border: none;
          background: transparent;
          text-align: center;
          color: #fff; }
          .tab-content .food .food-detials .add-food .counter-number .cartUpdate #number:focus {
            outline: none; }
        .tab-content .food .food-detials .add-food .counter-number .cartUpdate input::-webkit-outer-spin-button,
        .tab-content .food .food-detials .add-food .counter-number .cartUpdate input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        .tab-content .food .food-detials .add-food .counter-number .cartUpdate #increase, .tab-content .food .food-detials .add-food .counter-number .cartUpdate #decrease {
          position: absolute;
          right: 9px;
          top: 0px;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
          cursor: pointer; }
        .tab-content .food .food-detials .add-food .counter-number .cartUpdate #decrease {
          left: 9px;
          right: unset; }
    .tab-content .food .food-detials .add-food .change-counter {
      opacity: 1 !important;
      pointer-events: all !important; }
.tab-content .food #exampleModalCenter2 .close {
  display: none; }
.tab-content .food #exampleModalCenter2 .modal-content {
  background: #fff;
  width: 700px;
  text-align: left;
  padding: 30px 20px; }
  .tab-content .food #exampleModalCenter2 .modal-content .customize-details {
    position: relative; }
    .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind {
      border-bottom: 1px solid #ed1f24;
      padding-left: 19px; }
      .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind h2 {
        font-size: 20px;
        text-align: left; }
      .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind .custoom-price {
        font-size: 14px;
        padding-bottom: 10px;
        color: #686b78; }
      .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind .custom-icons {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: green;
        position: absolute;
        left: 0px;
        top: 6px; }
    .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items {
      padding-top: 20px; }
      .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px; }
        .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items h3 .requaired {
          font-size: 16px;
          color: #686b78; }
        .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items h3 .star {
          color: #686b78;
          margin-right: 10px; }
      .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio {
        padding-left: 18px;
        padding-bottom: 13px;
        font-size: 16px;
        position: relative;
        display: flex; }
        .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .custom-icons {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: green;
          position: absolute;
          left: 0px;
          top: 5px; }
        .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food {
          flex: 1;
          padding-top: 0; }
          .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food .counter-number {
            flex: 1; }
          .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food .change-counter {
            flex: 1 !important; }
    .tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-steps {
      padding: 9px;
      background: #ed1f24;
      border-radius: 50px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      margin-top: 20px;
      cursor: pointer; }
.tab-content .detial-cart {
  border-left: 1px solid #ccc;
  padding-left: 20px; }
  .tab-content .detial-cart .your-cart {
    padding: 15px 0; }
    .tab-content .detial-cart .your-cart h2 {
      font-size: 26px;
      font-weight: bold;
      padding: 0;
      margin: 0; }
    .tab-content .detial-cart .your-cart .cart-items {
      font-size: 14px; }
  .tab-content .detial-cart .all-food {
    display: flex; }
    .tab-content .detial-cart .all-food .food-name {
      flex: 1; }
      .tab-content .detial-cart .all-food .food-name h2 {
        font-size: 16px; }
      .tab-content .detial-cart .all-food .food-name .waights {
        font-size: 14px;
        color: #6f7588; }
    .tab-content .detial-cart .all-food .counter-number .cartUpdate {
      display: flex;
      position: relative;
      background: #ed1f24;
      width: 90px;
      height: 35px;
      border-radius: 50px; }
      .tab-content .detial-cart .all-food .counter-number .cartUpdate #number {
        width: 100%;
        border: none;
        background: transparent;
        text-align: center;
        color: #fff; }
        .tab-content .detial-cart .all-food .counter-number .cartUpdate #number:focus {
          outline: none; }
      .tab-content .detial-cart .all-food .counter-number .cartUpdate input::-webkit-outer-spin-button,
      .tab-content .detial-cart .all-food .counter-number .cartUpdate input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .tab-content .detial-cart .all-food .counter-number .cartUpdate #increase, .tab-content .detial-cart .all-food .counter-number .cartUpdate #decrease {
        position: absolute;
        right: 9px;
        top: 0px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        cursor: pointer; }
      .tab-content .detial-cart .all-food .counter-number .cartUpdate #decrease {
        left: 9px;
        right: unset; }
    .tab-content .detial-cart .all-food .food-price {
      margin-left: 20px;
      margin-top: 10px; }
  .tab-content .detial-cart .totle-price {
    padding: 15px 22px;
    background: #ed1f24;
    border-radius: 50px;
    box-sizing: border-box;
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    margin: 55px 0 0;
    cursor: pointer; }
    .tab-content .detial-cart .totle-price:hover {
      background: #f03a3d; }
    .tab-content .detial-cart .totle-price .check-out-price {
      text-align: right;
      float: right; }

/*------ search page ------*/
.head .right-cart ul {
  padding-left: 0; }

.search-items {
  margin-top: 108px; }
  .search-items .search-head {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .search-items .search-head .search-input {
      position: relative; }
      .search-items .search-head .search-input .se-input .se-icons {
        position: absolute;
        left: 22px;
        top: 19px;
        cursor: pointer; }
        .search-items .search-head .search-input .se-input .se-icons .fa-search {
          font-size: 26px;
          color: #ed1f24; }
      .search-items .search-head .search-input .se-input .sea-search {
        width: 600px;
        height: 60px;
        box-sizing: border-box;
        padding: 0 72px;
        border: 1px solid #ed1f24;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
        .search-items .search-head .search-input .se-input .sea-search:not(:valid) ~ .clear {
          opacity: 0; }
      .search-items .search-head .search-input .se-input .clear {
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        background: transparent;
        border: none;
        position: absolute;
        right: 25px;
        top: 21px;
        background: #ed1f24;
        border-radius: 50px;
        color: #fff;
        outline: none;
        opacity: 1;
        transition: all 0.5s ease-in-out; }
    .search-items .search-head .close-tab a {
      position: relative;
      left: 53px;
      bottom: 14px;
      height: 70px;
      width: 31px;
      display: block; }
      .search-items .search-head .close-tab a::before, .search-items .search-head .close-tab a::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #000;
        right: 0;
        top: 50px;
        transform: skewY(45deg); }
      .search-items .search-head .close-tab a::after {
        top: 50px;
        transform: skewY(-45deg); }
  .search-items .search-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px; }
    .search-items .search-detail .result-list {
      padding: 15px 0; }
      .search-items .search-detail .result-list .list-head {
        font-size: 12px;
        color: #b6bac8;
        text-transform: uppercase; }
      .search-items .search-detail .result-list ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 400px;
        width: 615px; }
        .search-items .search-detail .result-list ul li {
          width: 100%; }
          .search-items .search-detail .result-list ul li:hover {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px; }
          .search-items .search-detail .result-list ul li .search-icon {
            width: 40px;
            height: 40px;
            float: left;
            margin-top: 24px;
            font-size: 19px;
            padding-left: 10px;
            margin-right: 10px;
            margin-top: 19px;
            cursor: pointer; }
            .search-items .search-detail .result-list ul li .search-icon img {
              width: 100%;
              height: auto;
              border-radius: 2px; }
          .search-items .search-detail .result-list ul li .search-details {
            padding: 15px 5px;
            transition: all 0.5s ease-in-out;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            flex-direction: column; }
            .search-items .search-detail .result-list ul li .search-details p {
              margin-bottom: 0;
              font-size: 14px;
              cursor: pointer; }
              .search-items .search-detail .result-list ul li .search-details p:last-child {
                font-size: 12px;
                color: #6f7588; }
  .search-items .se-item-dtl {
    width: 60%;
    margin: 40px auto;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none; }
    .search-items .se-item-dtl .se-item-head {
      background: #f1f4f9;
      box-sizing: border-box;
      padding: 0 30px; }
      .search-items .se-item-dtl .se-item-head a {
        text-decoration: none; }
      .search-items .se-item-dtl .se-item-head .item-name {
        padding: 20px 0 0; }
        .search-items .se-item-dtl .se-item-head .item-name h2 {
          font-size: 17px;
          font-weight: bold;
          color: #000; }
        .search-items .se-item-dtl .se-item-head .item-name .item-title p {
          font-size: 13px;
          color: #686b78; }
      .search-items .se-item-dtl .se-item-head .item-dtl {
        display: flex;
        padding: 0 0 15px;
        margin-bottom: 10px; }
        .search-items .se-item-dtl .se-item-head .item-dtl .item-rating {
          font-size: 12px;
          color: #fff;
          background: #ed1f24;
          padding: 2px 4px;
          border-radius: 5px; }
        .search-items .se-item-dtl .se-item-head .item-dtl .item-hur {
          display: flex;
          margin-top: 3px;
          justify-content: center;
          padding: 0 10px;
          font-size: 12px;
          color: #535665; }
        .search-items .se-item-dtl .se-item-head .item-dtl .item-price {
          display: flex;
          justify-content: flex-end;
          font-size: 12px;
          color: #535665;
          margin-top: 3px; }
          .search-items .se-item-dtl .se-item-head .item-dtl .item-price .words {
            display: inline-block;
            margin-left: 5px; }
    .search-items .se-item-dtl .food-detials {
      display: flex;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 30px; }
      .search-items .se-item-dtl .food-detials img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
        border-right: 5px; }
      .search-items .se-item-dtl .food-detials .food-name {
        flex: 15;
        padding: 8px 0; }
        .search-items .se-item-dtl .food-detials .food-name h2 {
          font-size: 16px;
          font-weight: bold;
          color: #000; }
        .search-items .se-item-dtl .food-detials .food-name .amounts {
          color: #ccc;
          padding: 8px 0; }
        .search-items .se-item-dtl .food-detials .food-name .price {
          font-weight: bold;
          font-size: 16px; }
      .search-items .se-item-dtl .food-detials .add-food {
        padding-top: 33px;
        text-align: right;
        box-sizing: border-box; }
        .search-items .se-item-dtl .food-detials .add-food button {
          border: none;
          width: 90px;
          height: 35px;
          text-align: center;
          border-radius: 50px;
          background: #ed1f24;
          color: #fff;
          font-size: 16px;
          font-weight: bold; }
          .search-items .se-item-dtl .food-detials .add-food button:focus {
            outline: none; }
          .search-items .se-item-dtl .food-detials .add-food button .add-icon {
            font-size: 16px;
            margin-right: 10px; }
        .search-items .se-item-dtl .food-detials .add-food .counter-number {
          opacity: 0;
          pointer-events: none; }
          .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate {
            display: flex;
            position: relative;
            background: #ed1f24;
            width: 90px;
            height: 35px;
            border-radius: 50px;
            bottom: 35px; }
            .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate #number {
              width: 100%;
              border: none;
              background: transparent;
              text-align: center;
              color: #fff; }
              .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate #number:focus {
                outline: none; }
            .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate input::-webkit-outer-spin-button,
            .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0; }
            .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate #increase, .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate #decrease {
              position: absolute;
              right: 9px;
              top: 0px;
              font-size: 22px;
              font-weight: bold;
              color: #fff;
              cursor: pointer; }
            .search-items .se-item-dtl .food-detials .add-food .counter-number .cartUpdate #decrease {
              left: 9px;
              right: unset; }
        .search-items .se-item-dtl .food-detials .add-food .change-counter {
          opacity: 1 !important;
          pointer-events: all !important; }
      .search-items .se-item-dtl .food-detials #exampleModalCenter2 .close {
        display: none; }
      .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content {
        background: #fff;
        width: 700px;
        text-align: left;
        padding: 30px 20px; }
        .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details {
          position: relative; }
          .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-headind {
            border-bottom: 1px solid #ed1f24;
            padding-left: 19px; }
            .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-headind h2 {
              font-size: 20px;
              text-align: left; }
            .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-headind .custoom-price {
              font-size: 14px;
              padding-bottom: 10px;
              color: #686b78; }
            .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-headind .custom-icons {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: green;
              position: absolute;
              left: 0px;
              top: 6px; }
          .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items {
            padding-top: 20px; }
            .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items h3 {
              font-size: 20px;
              font-weight: bold;
              margin-bottom: 20px; }
              .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items h3 .requaired {
                font-size: 16px;
                color: #686b78; }
              .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items h3 .star {
                color: #686b78;
                margin-right: 10px; }
            .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio {
              padding-left: 18px;
              padding-bottom: 13px;
              font-size: 16px;
              position: relative;
              display: flex; }
              .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .custom-icons {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: green;
                position: absolute;
                left: 0px;
                top: 5px; }
              .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food {
                flex: 1;
                padding-top: 0; }
                .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food .counter-number {
                  flex: 1; }
                .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food .change-counter {
                  flex: 1 !important; }
          .search-items .se-item-dtl .food-detials #exampleModalCenter2 .modal-content .customize-details .custom-steps {
            padding: 9px;
            background: #ed1f24;
            border-radius: 50px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            margin-top: 20px;
            cursor: pointer; }

/*----- login page ------*/
.login-form {
  box-sizing: border-box;
  padding: 50px; }
  .login-form .left-login-image {
    width: 30%;
    float: left;
    position: relative;
    left: 120px; }
    .login-form .left-login-image .trans {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 89%;
      position: absolute;
      top: 30px; }
      .login-form .left-login-image .trans .terms {
        position: absolute;
        bottom: 37px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        border-bottom: 1px solid #fff;
        display: inline-block;
        margin: 0 auto;
        text-transform: uppercase;
        left: 46px; }
    .login-form .left-login-image img {
      width: 100%;
      box-sizing: border-box;
      padding: 30px 0; }
    .login-form .left-login-image .form-heading, .login-form .left-login-image .form-heading-2 {
      position: absolute;
      top: 70px;
      text-align: center;
      color: #fff;
      width: 100%; }
      .login-form .left-login-image .form-heading h1, .login-form .left-login-image .form-heading h2, .login-form .left-login-image .form-heading-2 h1, .login-form .left-login-image .form-heading-2 h2 {
        font-size: 28px;
        font-weight: 600; }
    .login-form .left-login-image .form-heading-2 {
      display: none; }
  .login-form .right-form {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 50px;
    background: #fff;
    position: relative;
    right: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 553px; }
    .login-form .right-form .log-in-form {
      display: block; }
    .login-form .right-form .inputs, .login-form .right-form .sign-up-form {
      overflow: hidden; }
      .login-form .right-form .inputs .form-inputs, .login-form .right-form .sign-up-form .form-inputs {
        margin-bottom: 30px;
        position: relative;
        display: flex;
        height: 50px; }
        .login-form .right-form .inputs .form-inputs:nth-child(3), .login-form .right-form .sign-up-form .form-inputs:nth-child(3) {
          text-align: left;
          margin-bottom: 0; }
        .login-form .right-form .inputs .form-inputs input, .login-form .right-form .sign-up-form .form-inputs input {
          width: 100%;
          border: none;
          height: 60px;
          outline: none; }
          .login-form .right-form .inputs .form-inputs input:focus + .form-label .label-input, .login-form .right-form .sign-up-form .form-inputs input:focus + .form-label .label-input, .login-form .right-form .inputs .form-inputs input:valid + .form-label .label-input, .login-form .right-form .sign-up-form .form-inputs input:valid + .form-label .label-input {
            transform: translateY(-80%);
            font-size: 14px;
            color: #ed1f24; }
          .login-form .right-form .inputs .form-inputs input:focus + .form-label::after, .login-form .right-form .sign-up-form .form-inputs input:focus + .form-label::after, .login-form .right-form .inputs .form-inputs input:valid + .form-label::after, .login-form .right-form .sign-up-form .form-inputs input:valid + .form-label::after {
            transform: translateX(0%); }
          .login-form .right-form .inputs .form-inputs input:focus + .form-label, .login-form .right-form .sign-up-form .form-inputs input:focus + .form-label {
            overflow: visible; }
          .login-form .right-form .inputs .form-inputs input::placeholder, .login-form .right-form .sign-up-form .form-inputs input::placeholder {
            font-size: 14px; }
        .login-form .right-form .inputs .form-inputs input[type="text"], .login-form .right-form .sign-up-form .form-inputs input[type="text"] {
          padding: 0; }
        .login-form .right-form .inputs .form-inputs input[type="checkbox"], .login-form .right-form .sign-up-form .form-inputs input[type="checkbox"] {
          width: auto;
          margin-right: 10px;
          margin-top: 4px;
          height: auto; }
        .login-form .right-form .inputs .form-inputs input[type="submit"], .login-form .right-form .sign-up-form .form-inputs input[type="submit"] {
          width: 130px;
          height: 40px;
          border-bottom: none;
          font-weight: bold;
          font-size: 18px;
          background: #ed1f24;
          color: #fff;
          border-radius: 50px;
          padding-top: 0; }
          .login-form .right-form .inputs .form-inputs input[type="submit"]:hover, .login-form .right-form .sign-up-form .form-inputs input[type="submit"]:hover {
            background: #eb3a3d; }
        .login-form .right-form .inputs .form-inputs .form-label, .login-form .right-form .sign-up-form .form-inputs .form-label {
          text-align: left;
          bottom: 0px;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          pointer-events: none;
          border-bottom: 1px solid #000;
          text-transform: uppercase; }
          .login-form .right-form .inputs .form-inputs .form-label::after, .login-form .right-form .sign-up-form .form-inputs .form-label::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            border-bottom: 2px solid #ed1f24;
            left: 0;
            bottom: -2px;
            transform: translateX(-100%);
            transition: transform 500ms ease-in-out; }
          .login-form .right-form .inputs .form-inputs .form-label .label-input, .login-form .right-form .sign-up-form .form-inputs .form-label .label-input {
            position: absolute;
            bottom: 5px;
            left: 0;
            transition: all 0.5s ease-in-out;
            font-size: 16px;
            font-weight: bold; }
        .login-form .right-form .inputs .form-inputs .fa-eye, .login-form .right-form .sign-up-form .form-inputs .fa-eye {
          top: 20px;
          position: absolute;
          right: 0; }
    .login-form .right-form .or {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-top: 1px solid #cccc;
      border-bottom: 1px solid #cccc;
      padding: 10px 0; }
    .login-form .right-form .login-social {
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 20px 0; }
      .login-form .right-form .login-social a {
        text-decoration: none; }
      .login-form .right-form .login-social .login-icons {
        margin: 0 10px;
        cursor: pointer; }
        .login-form .right-form .login-social .login-icons .fab {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff; }
        .login-form .right-form .login-social .login-icons .fa-facebook-f {
          background: #3b5998; }
        .login-form .right-form .login-social .login-icons .fa-google-plus-g {
          background: #db4a39; }
    .login-form .right-form .sign-up {
      text-align: center; }
      .login-form .right-form .sign-up a {
        color: #ed1f24;
        text-decoration: none;
        font-weight: bold; }
        .login-form .right-form .sign-up a:hover {
          color: #f89092; }
    .login-form .right-form .sign-up-form {
      display: none; }
      .login-form .right-form .sign-up-form input[type="text"] {
        border-radius: unset;
        padding: 30px 15px 11px; }
      .login-form .right-form .sign-up-form .form-inputs:nth-child(3) {
        margin-bottom: 30px; }

.map-model .modal-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px; }
  .map-model .modal-content .search-heading {
    padding: 15px 0; }
    .map-model .modal-content .search-heading h1 {
      font-size: 22px;
      font-weight: bold; }
  .map-model .modal-content .search-location {
    position: relative; }
    .map-model .modal-content .search-location input {
      width: 100%;
      border: 1px solid #ed1f24;
      height: 40px; }
    .map-model .modal-content .search-location .search-icon {
      position: absolute;
      top: 8px;
      right: 10px; }
      .map-model .modal-content .search-location .search-icon .fa-search-location {
        font-size: 24px; }
  .map-model .modal-content .gps-location {
    padding: 15px 0;
    cursor: pointer; }
    .map-model .modal-content .gps-location .location {
      margin-left: 12px;
      font-size: 14px; }
      .map-model .modal-content .gps-location .location .fa-crosshairs {
        font-size: 18px;
        margin-right: 10px; }
    .map-model .modal-content .gps-location .crosshairs-active {
      color: #ed1f24; }
  .map-model .modal-content .result-list {
    padding: 15px 0; }
    .map-model .modal-content .result-list .list-head {
      font-size: 12px;
      color: #b6bac8;
      text-transform: uppercase; }
    .map-model .modal-content .result-list ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column; }
      .map-model .modal-content .result-list ul li .search-icon {
        width: 40px;
        height: 40px;
        float: left;
        margin-top: 24px;
        font-size: 19px;
        padding-left: 10px;
        cursor: pointer; }
      .map-model .modal-content .result-list ul li .search-details {
        padding: 15px 5px;
        border-bottom: 1px solid #b6bac8;
        transition: all 0.5s ease-in-out;
        box-sizing: border-box; }
        .map-model .modal-content .result-list ul li .search-details:hover {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 5px; }
        .map-model .modal-content .result-list ul li .search-details p {
          margin-bottom: 0;
          font-size: 14px;
          cursor: pointer; }
          .map-model .modal-content .result-list ul li .search-details p:last-child {
            font-size: 12px;
            color: #6f7588; }

header .head .middile-nav {
  flex: 10 !important; }
header .right-cart {
  flex: 6 !important; }
  header .right-cart ul {
    padding-left: 0; }

.modal-content .close{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #000 !important;
    font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
