.vender-cetogoery .categorey-head {
  padding: 30px 0;
}

.vender-cetogoery .categorey-head .category-img {
  text-align: right;
}

.vender-cetogoery .categorey-head .category-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.vender-cetogoery .categorey-head .cetogery-heading {
  margin-top: 20px;
  margin-left: 20px;
}

.vender-cetogoery .categorey-head .cetogery-heading h1 {
  font-size: 28px;
  font-weight: bold;
}

.vender-cetogoery .category-items .category-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0px;
  border-bottom: 1px solid #e9e9eb;
  margin-bottom: 30px;
}

.vender-cetogoery .category-items .category-filters .left-filter-dtl {
  font-size: 26px;
  font-weight: bold;
}

.vender-cetogoery .category-items .category-filters .left-filter-dtl .rest {
  font-size: 22px;
}

.vender-cetogoery .category-items .category-filters .right-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vender-cetogoery .category-items .category-filters .right-filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.vender-cetogoery .category-items .category-filters .right-filter ul li:not(:last-child) {
  margin-right: 20px;
}

.vender-cetogoery .category-items .category-filters .right-filter ul li .filter-btn {
  font-size: 16px;
  font-weight: 500;
  color: #686b78;
  cursor: pointer;
  padding-bottom: 8px;
}

.vender-cetogoery .category-items .category-filters .right-filter ul li .filter-btn:hover {
  color: #3d4152;
  border-bottom: 2px solid #ed1f24;
}

.vender-cetogoery .category-items .active {
  color: #3d4152;
  border-bottom: 2px solid #ed1f24;
}

.vender-cetogoery .category-items a {
  color: transparent !important;
  text-decoration: none !important;
}

.vender-cetogoery .category-items .items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.vender-cetogoery .category-items .items:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.vender-cetogoery .category-items .items .item-img img {
  width: 100%;
  height: auto;
}

.vender-cetogoery .category-items .items .item-name {
  padding: 20px 0;
}

.vender-cetogoery .category-items .items .item-name h2 {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.vender-cetogoery .category-items .items .item-name .item-title p {
  font-size: 13px;
  color: #686b78;
}

.vender-cetogoery .category-items .items .item-dtl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15px;
  border-bottom: 1px solid #ed1f24;
  margin-bottom: 10px;
}

.vender-cetogoery .category-items .items .item-dtl .item-rating {
  font-size: 12px;
  color: #fff;
  background: #ed1f24;
  padding: 2px 4px;
  border-radius: 5px;
}

.vender-cetogoery .category-items .items .item-dtl .item-hur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 23px;
  font-size: 12px;
  color: #535665;
}

.vender-cetogoery .category-items .items .item-dtl .item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 12px;
  color: #535665;
}

.vender-cetogoery .category-items .items .item-dtl .item-price .words {
  display: inline-block;
  margin-left: 5px;
}

.vender-cetogoery .dsicount {
  padding-bottom: 15px;
}

.vender-cetogoery .dsicount .dis-logo {
  margin-right: 5px;
}

.vender-cetogoery .dsicount .dis-logo img {
  width: 10%;
  height: auto;
}

.vender-cetogoery .dsicount .dis-dtl {
  color: #000;
}
/*# sourceMappingURL=vender-category.css.map */