.vender-cetogoery {
    .categorey-head {
        padding: 30px 0;

        .category-img {
            text-align: right;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

        .cetogery-heading {
            margin-top: 20px;
            margin-left: 20px;

            h1 {
                font-size: 28px;
                font-weight: bold;
            }
        }
    }

    .category-items {
        .category-filters {
            display: flex;
            padding: 30px 0 0px;
            border-bottom: 1px solid #e9e9eb;
            margin-bottom: 30px;
            .left-filter-dtl {
                font-size: 26px;
                font-weight: bold;

                .rest {
                    font-size: 22px;
                }
            }

            .right-filter {
                display: flex;
                justify-content: flex-end;
                flex: 1;

                ul {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    list-style: none;
                    margin-bottom: 0;

                    li {
                        &:not(:last-child) {
                            margin-right: 20px;
                        }

                        .filter-btn {
                            font-size: 16px;
                            font-weight: 500;
                            color: #686b78;
                            cursor: pointer;
                            padding-bottom: 8px;

                            &:hover {
                                color: #3d4152;
                                border-bottom: 2px solid #ed1f24;
                            }
                        }

                    }
                }
            }
        }


        .active {
            color: #3d4152;
            border-bottom: 2px solid #ed1f24;
        }
        a{
            color: transparent !important;
            text-decoration: none !important;
        }
        .items {
            box-sizing: border-box;
            padding: 20px;
            &:hover{
                transform: translateY(-2px);
                transition: 500ms ease-in-out;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
                border-radius: 5px;
            }
            .item-img {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .item-name {
                padding: 20px 0;

                h2 {
                    font-size: 17px;
                    font-weight: bold;
                    color: #000;
                }

                .item-title {
                    p {
                        font-size: 13px;
                        color: #686b78;
                    }
                }


            }

            .item-dtl {
                display: flex;
                padding: 0 0 15px;
                border-bottom: 1px solid #ed1f24;
                margin-bottom: 10px;

                .item-rating {
                    font-size: 12px;
                    color: #fff;
                    background: #ed1f24;
                    padding: 2px 4px;
                    border-radius: 5px;
                }

                .item-hur {
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    padding-left: 23px;
                    font-size: 12px;
                    color: #535665;
                }

                .item-price {
                    display: flex;
                    justify-content: flex-end;
                    flex: 1;
                    font-size: 12px;
                    color: #535665;
                    .words{
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .dsicount{
        padding-bottom: 15px;
      
        .dis-logo{
            margin-right: 5px;
            img{
                width: 10%;
                height: auto;
            }
        }
        .dis-dtl{
            color: #000;
        }
    }
}