.tab-content{
    .food-serching{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        .serarch-with-icons{
            position: relative;
            input[type="text"]{
                height: 45px;
                width: 539px;
            }
            .food-serch-icon{
            position: absolute;    
            right: 23px;
            top: 13px;
            }
        }
    }
    .category{
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            text-align: right;
            list-style: none;
            border-right: 1px solid #ccc;
            padding-right: 20px;
            li{
                padding: 8px 0;
               
               
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    font-weight: 500;
                    transition: 200ms ease-in-out;
                    padding-right: 5px;
                    &:hover{
                        color: #ed1f24;
                        border-right: 2px solid #ed1f24;
                    }
                }
            }
        }
    }
    .food{
        .food-heading{
            h1{
                font-size: 22px;
                padding: 8px 0;
                margin-bottom: 0;
            }
            .food-items{
                font-size: 14px;
                padding-bottom: 8px;
                display: block;
            }
        }
        .food-detials{
            display: flex;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 20px;
           
            img{
                width: 100px;
                height: 100px;
                margin-right: 20px;
                border-right: 5px;
            }
            .food-name{
                flex: 15;
                padding: 8px 0;
                h2{
                    font-size: 16px;
                    font-weight: bold;
                    color: #000;
                }
                .amounts{
                    color: #ccc;
                    padding: 8px 0;
                }
                .price{
                    font-weight: bold;
                    font-size: 16px;
                }
            }
            .add-food{
                padding-top: 33px;
                text-align: right;
                box-sizing: border-box;
                button{
                    border: none;
                    width: 90px;
                    height: 35px;
                    text-align: center;
                    border-radius: 50px;
                    background: #ed1f24;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    &:focus{
                        outline: none;
                    }
                    .add-icon{
                        font-size: 16px;
                        margin-right: 10px;
                    }
                }
                .counter-number{
                            opacity: 0;
                            pointer-events: none;
                    .cartUpdate{
                        display: flex;
                        position: relative;
                        background: #ed1f24;
                        width: 90px;
                        height: 35px;
                        border-radius: 50px;
                        bottom: 35px;
                        #number{
                            width: 100%;
                            border: none;
                            background: transparent;
                            text-align: center;
                            color: #fff;

                            &:focus{
                                outline: none;
                            }
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        }
                            #increase,#decrease {
                                position: absolute;
                                right: 9px;
                                top: 0px;
                                font-size: 22px;
                                font-weight: bold;
                                color: #fff;
                                cursor: pointer;
                        }
                        #decrease{
                            left: 9px;
                            right: unset;
                        }
                    }
                   
                }
                .change-counter{
                    opacity: 1 !important;
                    pointer-events: all !important;
                }
            }
        }
        /*-- vender model css --*/
        #exampleModalCenter2{
            .close {
                display: none;
            }
            
            .modal-content{
                background: #fff;
                width: 700px;
                text-align: left;
                padding: 30px 20px;
                .customize-details{
                    position: relative;
                    .custom-headind{
                        border-bottom: 1px solid #ed1f24;
                        padding-left: 19px;
                        h2{
                            font-size: 20px;
                            text-align: left;
                        }
                        .custoom-price{
                            font-size: 14px;
                            padding-bottom: 10px;
                            color: #686b78;
                        }
                        .custom-icons{
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: green;
                            position: absolute;
                            left: 0px;
                            top: 6px;
                        }
                    }
                    .custom-items {
                        padding-top: 20px;
                        h3{
                            font-size: 20px;
                            font-weight: bold;
                            margin-bottom: 20px;
                            .requaired{
                                font-size: 16px;
                                color: #686b78;
                            }
                            .star{
                                color: #686b78;
                                margin-right: 10px;
                            }
                        }
                        .input-radio {
                            padding-left: 18px;
                            padding-bottom: 13px;
                            font-size: 16px;
                            position: relative;
                            display: flex;
                            .custom-icons{
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background: green;
                                position: absolute;
                                left: 0px;
                                top: 5px;
                            }
                            .add-food{
                                flex: 1;
                                padding-top: 0;
                                .counter-number{
                                    flex: 1;
                                }
                                .change-counter{
                                    flex: 1 !important;
                                }
                            }
                        }
                    }
                    .custom-steps {
                        padding: 9px;
                        background: #ed1f24;
                        border-radius: 50px;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #fff;
                        margin-top: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .detial-cart{
        border-left: 1px solid #ccc;
        padding-left: 20px;
        .your-cart{
            padding: 15px 0;
            h2{
                font-size: 26px;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }
            .cart-items{
                font-size: 14px;
            }
        }
        .all-food{
            display: flex;
            .food-name{
                flex: 1;
                h2{
                    font-size: 16px;
                }
                .waights{
                    font-size: 14px;
                    color: rgb(111, 117, 136);
                }
            }
            .counter-number{
               
                .cartUpdate{
                    display: flex;
                    position: relative;
                    background: #ed1f24;
                    width: 90px;
                    height: 35px;
                    border-radius: 50px;
                
                    #number{
                        width: 100%;
                        border: none;
                        background: transparent;
                        text-align: center;
                        color: #fff;

                        &:focus{
                            outline: none;
                        }
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                    }
                        #increase,#decrease {
                            position: absolute;
                            right: 9px;
                            top: 0px;
                            font-size: 22px;
                            font-weight: bold;
                            color: #fff;
                            cursor: pointer;
                    }
                    #decrease{
                        left: 9px;
                        right: unset;
                    }
                }
            
            }
            .food-price {
                margin-left: 20px;
                margin-top: 10px;
            } 
        }
        .totle-price {
            padding: 15px 22px;
            background: #ed1f24;
            border-radius: 50px;
            box-sizing: border-box;
            color: #ffff;
            font-size: 16px;
            font-weight: bold;
            margin: 55px 0 0;
            cursor: pointer;
            &:hover{
                background: #f03a3d;
            }
            .check-out-price {
                text-align: right;
                float: right;
            }
        }
    }
}