.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: absolute;
    background: 0 0;
    padding: 20px 0 0;
    z-index: 999;
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    height: 55px
}

.mean-container a.meanmenu-reveal {
    width: 30px;
    height: 30px;
    padding: 12px 15px 0 0;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #16213e;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-weight: 700
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #16213e;
    position: relative;
    height: 4px;
    margin-top: -5px;
    top: 8px;
    border-radius: 3px
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 55px
}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    list-style-type: none
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #677294;
    border-top: 1px solid #dbeefd;
    text-decoration: none
}

.mean-container .mean-nav ul li a.active {
    color: #000
}

.mean-container .mean-nav ul li li a {
    width: 80%;
    padding: 1em 10%;
    color: #677294;
    border-top: 1px solid #dbeefd;
    opacity: 1;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
    text-transform: none;
    font-size: 14px
}

.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0
}

.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%
}

.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%
}

.mean-container .mean-nav ul li a:hover {
    background: #252525;
    background: rgba(255, 255, 255, .1)
}

.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 3px;
    width: 100%;
    height: 24px;
    padding: 12px !important;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-weight: 700;
    background: 0 0;
    border: none !important
}

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.mean-remove {
    display: none !important
}

.mobile-nav {
    display: none
}

.mobile-nav.mean-container .mean-nav ul li a.active {
    color: #112148;
    transition: all .5s;
}

.main-nav {
    background: #000;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    z-index: 999;
    height: auto
}

.mean-nav .dropdown-toggle::after {
    display: none
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1
}

.main-nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.main-nav nav .navbar-nav .nav-item {
    position: relative;
    /*    padding: 15px 0*/
}

.main-nav nav .navbar-nav .nav-item:not(:last-child) {
    margin-right: 30px;
}

.navbar-area {
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.navbar-light {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
}

.navbar-light .navbar-brand img {
    float: left;
    padding: 10px 0;
    width: 170px;
}

.navbar-light .navbar-brand-sticky {
    display: none
}

.main-nav {
    position: inherit;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: inherit;
    padding: 0;
    width: 100%;
    height: auto
}

.main-nav .others-options .option-item:not(:last-child) {
    margin-right: 30px;
}

.main-nav .others-options .option-item .close-btn:hover {
    color: #1fa2ff;
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%)
}

.main-nav .others-options .option-item .close-btn.active {
    display: block
}

.main-nav .others-options .option-item .location-btn .location-btn-icon {
    font-size: 25px;
    /*    color: #790096;*/
}

.main-nav .others-options .option-item .add-cart-btn .cart-btn-icon {
    font-size: 25px;
    /*    color: #790096;*/
    position: relative
}

.main-nav .others-options .option-item .add-cart-btn .cart-btn-icon,
.main-nav .others-options .option-item .location-btn .location-btn-icon {
    /*
    background: linear-gradient(to right, #ed1f24 , #ffe800 , #112148);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
*/
    color: #112148;
    transition: all .5s;
}

.main-nav .others-options .option-item .add-cart-btn .cart-btn-icon:hover,
.others-options .option-item .location-btn .location-btn-icon:hover {
    color: #ed1f24;
}

.main-nav .others-options .option-item .add-cart-btn .cart-btn-icon span {
    position: absolute;
    top: 0px;
/*    right: -1px;*/
    left: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #ed1f24;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 11px;
}

.main-nav .others-options .option-item .login-btn .login-btn-icon {
    font-size: 16px;
    text-decoration: none;
    /*    border: 1px solid linear-gradient(to right, #ed1f24 , #ffe800 , #112148);*/
    /*    background: linear-gradient(to right, #ed1f24 , #ffe800 , #112148);*/
    border: 1px solid #112148;
    background: #112148;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s;
}

.main-nav .others-options .option-item .login-btn .login-btn-icon:hover {
    border: 1px solid #ed1f24;
    background: #ed1f24;
}

.main-nav .nav-item .nav-link.active {
    color: #112148 !important;
    padding-top: 30px;
    font-weight: 700;
    transition: all .5s;
}

.main-nav .nav-item .nav-link.active:hover {
    color: #ed1f24 !important;
}

.mobile-nav.mean-container .mean-nav ul li a.active:hover {
    color: #ed1f24 !important;
}

.nav-item .nav-link.soon {
    pointer-events: none !important;
    opacity: 0.7;
}

.nav-item .nav-link .figure {
    position: relative;
    width: 100px;
    height: 70px;
    margin: 0px;
}

.nav-item .nav-link .figure img {
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.nav-item .nav-link .figure .figure-caption {
    position: absolute;
    top: 50%;
    left: 50% !important;
    color: #fff;
    transform: translate(-50%, -50%);
    font-weight: 700;
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 5px 5px;
    width: 100px;
    font-size: 13px;
}

.nav-bar {
    position: absolute;
    max-width: 1240px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    z-index: 1
}

.side-nav-responsive {
    display: none
}

.side-nav-responsive .dot-menu {
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    right: 60px;
    top: 12px
}

.side-nav-responsive .dot-menu .circle-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px
}

.side-nav-responsive .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.side-nav-responsive .option-item {
    margin-right: 0;
    margin-left: 10px;
    display: inline-block
}

.side-nav-responsive .option-item .add-cart-btn .cart-btn-icon h2 {
    font-size: 30px;
    color: #000;
}

.side-nav-responsive .option-item .add-cart-btn .cart-btn-icon span {
    position: absolute;
    top: 5px;
    right: -10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #6e6e6e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 11px
}


.sticky-nav {
    top: 0;
    position: fixed;
    -webkit-animation: 900ms ease-in-out 5s normal none 1 running fadeInDown;
    animation: 900ms ease-in-out 5s normal none 1 running fadeInDown;
    -webkit-transition: .9s;
    transition: .9s;
    width: 100% !important;
    z-index: 999
}

.sticky-nav .main-nav {
    top: 0;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.sticky-nav .nav-bar {
    max-width: 100%
}


.dropdown-menu {
    border-radius: 0px;
    width: 100%;
    padding: 0px;
    font-size: 15px;
}

.dropdown-menu .dropdown-item{
    padding: 5px 10px;
}

.dropdown-menu .dropdown-item:first-child{
    border-bottom: 1px solid #ddd;
}

.dropdown-menu .dropdown-item:focus{
    background: none;
}


@media only screen and (max-width:991px) {
    .mobile-nav {
        display: block;
        position: relative
    }

    .mobile-nav .logo {
        text-decoration: none;
        position: absolute;
        top: 11px;
        z-index: 999;
        left: 15px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px
    }

    .mean-container .mean-bar {
        background-color: #fff;
        padding: 0
    }

    .mean-container a.meanmenu-reveal {
        padding: 20px 15px 0 0;
        margin-top: -5px
    }

    .mobile-nav nav .navbar-nav {
        height: 300px;
        overflow-y: scroll
    }

    .mobile-nav nav .navbar-nav .nav-item a i {
        display: none
    }

    .main-nav {
        display: none !important
    }
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
