@media only screen and (max-width:767px) {
    body {
        font-size: 14px
    }

    .mobile-nav .logo img {
        max-width: 120px;
        height: 40px;
        margin-top: -5px
    }

    .others-options {
        display: none !important
    }

    .side-nav-responsive {
        display: block
    }

    .side-nav-responsive .container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .side-nav-responsive .container .container {
        position: absolute;
        top: 55px;
        right: -20px;
        max-width: 185px;
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .7s;
        transition: .7s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        z-index: 2;
        padding-left: 15px;
        padding-right: 15px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    body {
        font-size: 14px
    }

    .mobile-nav .logo img {
        max-width: 120px;
        height: 40px;
        margin-top: -5px
    }

    .others-options {
        display: none !important
    }

    .side-nav-responsive {
        display: block
    }

    .side-nav-responsive .container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (max-width: 1200px) {
    .main-nav .others-options .option-item:not(:last-child) {
        margin-right: 25px;
    }

    .main-nav nav .navbar-nav .nav-item:not(:last-child) {
        margin-right: 10px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .navbar-light .navbar-brand img {
        width: 150px
    }

    .main-nav .others-options .option-item .login-btn .login-btn-icon {
        background: none;
        padding: 0px;
        border: none;
        color: #112148;
        font-size: 27px;
        transition: all .5s;
    }

    .main-nav .others-options .option-item .login-btn .login-btn-icon:hover {
        background: none;
        color: #ed1f24;
        border: none;
    }

    .navbar-light .option-item .login-btn .login-btn-icon .ls-text {
        display: none;
    }

    .main-nav .others-options .option-item:not(:last-child) {
        margin-right: 15px;
    }

    .main-nav nav .navbar-nav .nav-item:not(:last-child) {
        margin-right: 10px;
    }
}

@media (min-width: 360px) and (max-width: 991px) {
    .side-nav-responsive .option-item:not(:last-child) {
        margin-right: 20px !important;
    }

    .side-nav-responsive .option-item .close-btn:hover {
        color: #1fa2ff;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%)
    }

    .side-nav-responsive .option-item .close-btn.active {
        display: block
    }

    .side-nav-responsive .option-item .location-btn .location-btn-icon {
        font-size: 20px;
        /*    color: #790096;*/
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon {
        font-size: 20px;
        position: relative
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon,
    .side-nav-responsive .option-item .location-btn .location-btn-icon {
        color: #112148;
        transition: all .3s;
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon:hover,
    .side-nav-responsive .option-item .location-btn .location-btn-icon:hover {
        color: #ed1f24;
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon span {
        position: absolute;
        top: -1px;
        left: 15px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        background-color: #ed1f24;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 11px;
    }

    .side-nav-responsive .option-item .login-btn .login-btn-icon {
        font-size: 20px;
        color: #112148;
        transition: all .3s;
    }

    .side-nav-responsive .option-item .login-btn .login-btn-icon:hover {
        color: #ed1f24;
    }

    .side-nav-responsive .option-item .login-btn .login-btn-icon .ls-text {
        display: none;
    }

    .nav-item .nav-link .figure .figure-caption {
        left: 31px;
    }

    .mean-container a.meanmenu-reveal {
        width: 25px;
    }

    .mobile-nav nav .navbar-nav .nav-item a i {
        display: inline;
    }

    .nav-item .nav-link .figure .figure-caption {
        width: 85px;
    }
}
