body {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Gilroy, sans-serif;
}

.container-fluid {
    width: 90%;
}

.pt-80 {
    padding-top: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-70 {
    padding-bottom: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.heading h4 {
    color: #112148;
    text-transform: uppercase;
    font-weight: 600;
}

.main-page-content,
.cart-page-content,
.signup-page-content {
    background: #f9f7f7;
}

/*===== vendor section start =====*/

.vendor-section .card {
    position: relative;
    width: 100%;
    height: 200px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.vendor-section .card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all .5s;
}

.vendor-section .card .card-img:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

.vendor-section .coming-soon {
    pointer-events: none;
}

.vendor-section .coming-soon .card .card-img {
    opacity: 0.7;
}

.vendor-section .coming-soon .btn-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    background: #ed1f24;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

/*===== vendor section start =====*/

/*===== about section start =====*/


u,
.u {
    text-decoration: none;
    position: relative;
    padding: 0 8px 12px;
    display: inline-block;
    vertical-align: top;
}

u.sm,
.u.sm {
    padding: 0 2px 1px;
}

u.sm:after,
.u.sm:after {
    height: 4px;
}

u:after,
.u:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    border-radius: 5px;
    background: #ee7000;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}


[data-words] {
    overflow: hidden;
}

[data-words]:after {
    display: none !important;
}

.anim-line {
    /*
	position: absolute;
	width: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 8px;
	margin: 0 auto;
	border-radius: 5px;
	background: #ee7000;
	-webkit-transition: opacity .3s linear, width .3s .4s;
	transition: opacity .3s linear, width .3s .4s;
*/
}

.anim-line.line-active {
    opacity: 1;
}

.text-anim-item {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
}

.text-anim-item span {
    font-size: 40px;
    font-weight: 700;
    width: 100% !important;
}

.text-anim-item.anim-in {
    -webkit-transform: translate3d(-50%, -120%, 0);
    transform: translate3d(-50%, -120%, 0);
    -webkit-animation: textAnimInCenter 1s .5s forwards;
    animation: textAnimInCenter 1s .5s forwards;
}

.text-anim-item.anim-out {
    -webkit-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0);
    -webkit-animation: textAnimOutCenter 1s forwards;
    animation: textAnimOutCenter 1s forwards;
}


.anim-line {
    left: auto;
}

.text-anim-item {
    right: 0;
    left: auto;
}

.text-anim-item.anim-in {
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
    -webkit-animation: textAnimIn 1s .5s forwards;
    animation: textAnimIn 1s .5s forwards;
}

.text-anim-item.anim-out {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
    -webkit-animation: textAnimOut 1s forwards;
    animation: textAnimOut 1s forwards;
}
}

@-webkit-keyframes textAnimIn {
    0% {
        -webkit-transform: translate3d(0, 120%, 0);
        transform: translate3d(0, 120%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0%, 0);
        transform: translate3d(0, 0%, 0);
    }
}

@keyframes textAnimIn {
    0% {
        -webkit-transform: translate3d(0, 120%, 0);
        transform: translate3d(0, 120%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0%, 0);
        transform: translate3d(0, 0%, 0);
    }
}

@-webkit-keyframes textAnimOut {
    0% {
        -webkit-transform: translate3d(0, 0%, 0);
        transform: translate3d(0, 0%, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -120%, 0);
        transform: translate3d(0, -120%, 0);
    }
}

@keyframes textAnimOut {
    0% {
        -webkit-transform: translate3d(0, 0%, 0);
        transform: translate3d(0, 0%, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -120%, 0);
        transform: translate3d(0, -120%, 0);
    }
}

@-webkit-keyframes textAnimInCenter {
    0% {
        -webkit-transform: translate3d(50%, 120%, 0);
        transform: translate3d(50%, 120%, 0);
    }

    100% {
        -webkit-transform: translate3d(50%, 10%, 0);
        transform: translate3d(50%, 10%, 0);
    }
}

@keyframes textAnimInCenter {
    0% {
        -webkit-transform: translate3d(50%, 120%, 0);
        transform: translate3d(50%, 120%, 0);
    }

    100% {
        -webkit-transform: translate3d(50%, 10%, 0);
        transform: translate3d(50%, 10%, 0);
    }
}

@-webkit-keyframes textAnimOutCenter {
    0% {
        -webkit-transform: translate3d(50%, 0%, 0);
        transform: translate3d(50%, 0%, 0);
    }

    50% {
        -webkit-transform: translate3d(-50%, -20%, 0);
        transform: translate3d(-50%, -20%, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 120%, 0);
        transform: translate3d(-50%, 120%, 0);
    }
}

@keyframes textAnimOutCenter {
    0% {
        -webkit-transform: translate3d(50%, 0%, 0);
        transform: translate3d(50%, 0%, 0);
    }

    50% {
        -webkit-transform: translate3d(50%, 20%, 0);
        transform: translate3d(50%, 20%, 0);
    }

    100% {
        -webkit-transform: translate3d(50%, 120%, 0);
        transform: translate3d(50%, 120%, 0);
    }
}

/*===== about section end =====*/

/*===== vendor profile section start =====*/
.vendor-profile-section {
    position: relative;
}

.vendor-profile-section .vendor-profile-inner {
    background-image: url(../images/vendor-images/vendor-cover-image-1.jpg);
    width: 100%;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
}

.vendor-profile-section .vendor-profile-inner:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 210px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.sticky-vendor {
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 9;
}

.sticky-vendor .vendor-profile-inner {
    height: 150px;
}

.sticky-vendor .vendor-profile-inner:after {
    height: 150px;
}

.sticky-vendor .vendor-profile-inner .v-detail {
    top: 25px;
}

.sticky-vendor .vendor-profile-inner .vendor-profile-img {
    width: 100px;
    height: 100px;
}

.sticky-vendor .vendor-profile-inner .venor-profile-detail {
    padding-top: 0px;
    /*    margin-top: -10px;*/
}

.sticky-vendor .vendor-profile-inner .venor-profile-detail h4 {
    font-size: 20px;
}

.vendor-profile-section .v-detail {
    position: relative;
    z-index: 10;
    top: 30px;
}

.vendor-profile-section .vendor-profile-img {
    width: 150px;
    height: 150px;
}

.vendor-profile-section .vendor-profile-img img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.vendor-profile-section .venor-profile-detail {
    padding-top: 20px;
}

.vendor-profile-section .venor-profile-detail p,
.vendor-profile-section .venor-profile-detail h4 {
    margin: 5px;
}

.vendor-profile-section .venor-profile-detail h4 {
    color: #fff;
}

.vendor-profile-section .venor-profile-detail p {
    color: #ccc;
    font-size: 13px;
}

/*===== vendor profile section start =====*/

/*===== add cart section start =====*/
.add-cart-section .nav-pills .nav-item {
    width: 33.33%;
    text-align: center;
}

.add-cart-section .nav-pills .nav-link {
    color: #112148;
    font-weight: 700;
}

.add-cart-section .nav-pills .nav-link.active,
.add-cart-section .nav-pills .show > .nav-link {
    background: none;
    border-bottom: 3px solid #ed1f24;
    border-radius: 0;
    color: #ed1f24;
}

.add-cart-section .add-cart-section-inner {
    background: #fff;
    box-shadow: 3px 3px 14px -2px rgb(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
}

.cart-item-list {
    position: sticky;
    z-index: 9;
    top: 260px;
}

.add-cart-item .add-item-list,
.cart-item-list .added-item-list {
    background: #fff;
    padding: 15px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.add-cart-item .add-item-list .item-profile-img {
    width: 80px;
    height: 80px;
}

.add-cart-item .add-item-list .item-profile-detail {
    padding-left: 15px;
    margin: auto 0;
    width: 75%;
}

.cart-item-list .added-item-list .added-item-profile-detail {
    padding-left: 10px;
    margin: auto 0;
    width: 50%;
}

.add-cart-item .add-item {
    list-style: none;
    padding: 20px 0px;
    margin: 0px;
    /*    overflow-y: scroll;*/
}

.cart-item-list .added-item {
    list-style: none;
    padding: 20px 0px;
    margin: 0px;
    height: calc(100vh - 500px);
    overflow-y: auto;
    /*
    height: 170px;
    overflow-y: scroll;
*/
}

.add-cart-item .add-item-list .item-profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.add-cart-item .add-item-list .item-profile-img {
    width: 10%;
}

.cart-item-list .added-item-list .item-profile-dot {
    width: 5%;
}

.cart-item-list .added-item-list .item-profile-dot .non-veg-dot {
    border: 1px solid #ed1f24;
    width: 15px;
    height: 15px;
}

.cart-item-list .added-item-list .item-profile-dot .non-veg-dot .dot {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ed1f24;
    margin-top: 1px;
    margin-left: 1px;
}

.cart-item-list .added-item-list .item-profile-dot .veg-dot {
    border: 1px solid green;
    width: 15px;
    height: 15px;
}

.cart-item-list .added-item-list .item-profile-dot .veg-dot .dot {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    margin-top: 1px;
    margin-left: 1px;
}

.add-item-list .item-profile-detail .item-title {
    margin: 0px;
    font-size: 18px;
    color: #282c3f;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 4px;
}

.added-item-list .added-item-profile-detail .item-title {
    margin: 0px;
    font-size: 15px;
    color: #282c3f;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 4px;
}

.add-item-list .item-profile-detail .pricing {
    margin: 0px;
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
}

.add-item-list .item-profile-detail .pricing .d-price {
    color: #aaa;
    padding-left: 5px;
}

.add-item-list .item-profile-detail .pricing .dis {
    color: #ed1f24;
    padding-left: 5px;
}

.add-item-list .item-profile-detail .qty span {
    font-size: 14px;
    color: #aaa;
    font-weight: 500;
}

.cart-item-list .added-item-profile-detail .added-qty span {
    font-size: 12px;
    color: #aaa;
    font-weight: 500;
}

.cart-item-list .cart-item-heading {
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    color: #282c3f;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
}

.cart-item-list .cart-item-heading span {
    color: #aaa;
}

.add-cart-item {
    border-right: 1px solid rgb(216, 216, 216);
}

.add-item-list .qty-in-de,
.added-item-list .qty-in-de {
    margin: auto 0;
}

.added-item-list .qty-in-de .pricing {
    margin: 0px;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #282c3f;
}

.added-item-list .qty-in-de {
    display: flex;
}

.add-item-list .qty-in-de .add-btn {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #ed1f24;
    ;
    background: #ed1f24;
    width: 70px;
    height: 32px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.add-item-list .qty-in-de .add-btn .btn-add {
    font-weight: bold;
    padding: 0px 10px;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    color: rgb(231, 232, 235);
}

.add-item-list .qty-in-de .add-btn .btn-add:focus,
.add-item-list .qty-in-de .id-btn .btn-dec:focus,
.add-item-list .qty-in-de .id-btn .btn-inc:focus {
    box-shadow: none;
}

.add-item-list .qty-in-de .id-btn,
.added-item-list .qty-in-de .id-btn {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #ed1f24;
    width: 70px;
    height: 32px;
    border-radius: 40px;
}

.add-item-list .qty-in-de .id-btn .btn-dec,
.added-item-list .qty-in-de .id-btn .btn-dec {
    color: #aaa;
    background: none;
    border: none;
    padding: 0px 8px;
    font-weight: 500;
    margin-right: 2px;
    font-size: 24px;
    line-height: 26px;
}

.add-item-list .qty-in-de .id-btn .btn-inc,
.added-item-list .qty-in-de .id-btn .btn-inc {
    color: #ed1f24;
    background: none;
    border: none;
    padding: 0px 8px;
    font-weight: 500;
    margin-left: 2px;
    font-size: 24px;
    line-height: 26px;
}

.add-item-list .qty-in-de .id-btn .value,
.added-item-list .qty-in-de .id-btn .value {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #ed1f24;
    pointer-events: none
}


.add-cart-section .about-item,
.add-cart-section .item-reviews {
    text-align: justify;
    padding: 20px 10px;
}

.search-field {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.add-cart-section-inner .search-field .input-group {
    width: 65.65% !important;
    position: relative;
    box-shadow: rgb(0, 0, 0, 0.2) 0px 4px 7px;
    border-radius: 7px;
    margin: 15px 0px 30px 0px;
}

.add-cart-section-inner .search-field .input-group .search-icon {
    position: absolute;
    top: 12px;
    z-index: 9;
    left: 15px;
    font-weight: 500;
    color: rgb(23, 30, 48);
}

.add-cart-section-inner .search-field .input-group .form-control {
    border: 0.5px solid rgb(225, 227, 234);
    border-radius: 7px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(23, 30, 48);
    height: 45px;
    padding-left: 40px !important;
}

.add-cart-section-inner .search-field .input-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

.add-cart-section .add-cart-section-inner .cart-total {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px 0px;
    border-top: 1px solid rgb(216, 216, 216);
    font-weight: 600;
}
}

.add-cart-section .add-cart-section-inner .cart-total p {
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    color: #282c3f;
}

.add-cart-section .add-cart-section-inner .checkout-btn .btn-checkout {
    border: 1px solid #ed1f24;
    background: #ed1f24;
    border-color: #ed1f24;
    color: #fff;
    font-weight: 600;
    padding: 8px 5px;
    transition: all .5s;
    width: 100%;
    border-radius: 40px;
}

.add-cart-section .add-cart-section-inner .checkout-btn .btn-checkout:focus {
    box-shadow: none;
    outline: none;
}

.add-cart-section .add-cart-section-inner .checkout-btn .btn-checkout:hover {
    background: transparent;
    color: #ed1f24;
}

/*===== add cart section end =====*/

/*===== signup page section start =====*/
.signup-page-section .signup-page-inner,
.login-page-section .login-page-inner {
    background: #fff;
    box-shadow: 3px 3px 14px -2px rgb(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
}

.signup-page-inner .form-inline label {
    width: 170px;
    font-weight: 500;
}

.signup-page-inner .form-inline .form-control {
    width: 330px;
    height: 35px;
}

.login-page-inner .form-inline .form-control {
    height: 35px;
    width: 100%;
}

.signup-page-inner .heading,
.login-page-inner .heading {
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    color: #112148;
}

.signup-page-inner hr,
.login-page-inner hr {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 2px;
    background: #112148;
}

.signup-page-inner .form-inline .form-control:focus,
.login-page-inner .form-inline .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #112148;
}

.signup-page-section p {
    margin: 15px;
    font-size: 16px;
    font-weight: 500;
}

.login-page-section .text-left {
    margin: 15px;
}

.signup-page-section p span {
    color: gray;
}

.signup-page-inner .form-group .btn-primary,
.login-page-inner .form-group .btn-primary {
    margin-left: 170px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #112148;
    border-color: #112148;
    transition: all .5s;
}

.login-page-inner .form-group .btn-primary {
    margin-left: 0px !important;
}

.signup-page-inner .form-group .btn-primary:hover,
.login-page-inner .form-group .btn-primary:hover {
    background: transparent;
    color: #112148;
}

.signup-page-inner .form-group .btn-primary:focus,
.login-page-inner .form-group .btn-primary:focus {
    box-shadow: none;
    outline: none;
}

.login-page-inner .google-btn {
    background: #ce3d31;
    border-color: #ce3d31;
}

.login-page-inner .google-btn:focus {
    box-shadow: none;
}

.login-page-inner .facebook-btn {
    background: #3b5998;
    border-color: #3b5998;
}

.login-page-inner .facebook-btn:focus {
    box-shadow: none;
}

/*===== footer area start =====*/
.footer-area {
    background: #000;
}

.footer-widget h3 {
    color: gray;
    font-size: 21px;
    margin-bottom: 30px;
}

.footer-widget .footer-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-widget .footer-list li {
    display: block;
    margin-bottom: 10px;
}

.footer-widget .footer-list li a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: all .5s;
}

.footer-widget .footer-list li:hover a {
    color: gray;
}

.footer-widget .footer-list .appStoreicon,
.footer-widget .footer-list .googlePlayicon {
    margin-bottom: 30px;
    transition: all .5s;
}

.footer-widget .footer-list .appStoreicon:hover,
.footer-widget .footer-list .googlePlayicon:hover {
    transform: scale(1.04);
}

.copy-right-area {
    background: #000;
}

.copy-right-area .copy-right-text {
    font-size: 21px;
    color: #fff;
    border-top: 1px solid gray;
    margin: 0px;
    padding: 15px 0px 10px;
}

/*===== footer area end =====*/

/*===== responsive start =====*/

@media (min-width: 360px) and (max-width: 575px) {
    .vendor-profile-section .v-detail {
        top: 80px;
    }

    .vendor-profile-section .vendor-profile-img {
        width: 100px;
        height: 100px;
    }

    .vendor-profile-section .venor-profile-detail {
        padding-top: 0px;
        padding-left: 50px;
        margin-top: -10px;
    }

    .sticky-vendor {
        top: 55px;
    }

    .add-cart-section-inner .search-field .input-group {
        width: 100% !important;
    }

    .add-cart-item .add-item-list .item-profile-img,
    .cart-item-list .added-item-list .added-item-profile-img {
        height: 50px;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        padding-left: 10px;
    }

    .add-item-list .item-profile-detail .item-title,
    .added-item-list .added-item-profile-detail .item-title {
        font-size: 18px;
    }

    .add-cart-item .add-item-list,
    .cart-item-list .added-item-list {
        padding: 10px;
    }

    .add-item-list .qty-in-de input,
    .added-item-list .qty-in-de input {
        width: 24px;
        text-align: center;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        width: 60%;
    }

    .add-item-list .item-profile-detail .qty span {
        font-size: 12px;
    }

    .add-item-list .item-profile-detail .item-title,
    .added-item-list .added-item-profile-detail .item-title {
        font-size: 16px;
    }

    .add-item-list .item-profile-detail .pricing,
    .added-item-list .added-item-profile-detail .pricing {
        font-size: 12px;
    }

    .add-cart-section .add-cart-item {
        border-bottom: 2px solid #eee;
    }

    .cart-item-list .added-item {
        /*
        height: 200px;
        overflow-y: scroll;
*/
    }

    /*
    .add-cart-item .add-item {
        height: 245px;
    }
*/

    .signup-page-inner .form-group {
        margin-bottom: 5px;
    }

    .signup-page-inner .form-inline label {
        font-weight: 700;
    }

    .signup-page-inner .form-inline label span {
        display: none;
    }

    .signup-page-inner .form-group .btn-primary {
        margin-left: 0;
        margin-top: 10px;
    }

    .login-page-inner .google-btn {
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .vendor-profile-section .v-detail {
        top: 80px;
    }

    .vendor-profile-section .vendor-profile-img {
        width: 100px;
        height: 100px;
    }

    .vendor-profile-section .venor-profile-detail {
        padding-top: 0px;
        padding-left: 35px;
        margin-top: -10px;
    }

    .sticky-vendor {
        top: 55px;
    }

    .add-cart-section-inner .search-field .input-group {
        width: 100% !important;
    }

    .add-cart-item .add-item-list .item-profile-img {
        height: 70px;
        width: 12%;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        padding-left: 10px;
    }

    .add-cart-item .add-item-list,
    .cart-item-list .added-item-list {
        padding: 10px;
    }

    .add-item-list .qty-in-de input,
    .added-item-list .qty-in-de input {
        width: 30px;
        text-align: center;
    }

    .add-cart-item .add-item-list .item-profile-detail,
        {
        width: 70%;
    }

    .cart-item-list .added-item-list .added-item-profile-detail {
        width: 62%;
    }

    .add-item-list .item-profile-detail .pricing,
    .added-item-list .added-item-profile-detail .pricing {
        font-size: 14px;
    }

    .add-cart-section .add-cart-item {
        border-bottom: 2px solid #ddd;
    }

    /*
    .cart-item-list .added-item {
        height: 200px;
        overflow-y: scroll;
    }
*/

    /*
    .add-cart-item .add-item {
        height: 245px;
    }
*/

    .add-cart-section .add-cart-section-inner .cart-total {
        margin-top: 30px;
    }

    .signup-page-inner .form-inline label {
        font-weight: 500;
    }

    .signup-page-inner .form-inline .form-control {
        width: 240px;
    }

}

@media (min-width: 767px) and (max-width: 991px) {
    .vendor-profile-section .v-detail {
        top: 80px;
    }

    .vendor-profile-section .vendor-profile-img {
        width: 100px;
        height: 100px;
    }

    .vendor-profile-section .venor-profile-detail {
        padding-top: 0px;
        padding-left: 0px;
        margin-top: -10px;
    }
    
    .sticky-vendor {
        top: 55px;
    }

    .add-cart-section-inner .search-field .input-group {
        width: 100% !important;
    }

    .add-cart-item .add-item-list .item-profile-img,
    .cart-item-list .added-item-list .added-item-profile-img {
        height: 65px;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        padding-left: 10px;
    }

    .add-item-list .item-profile-detail .item-title,
    .added-item-list .added-item-profile-detail .item-title {
        font-size: 16px;
    }

    .add-cart-item .add-item-list,
    .cart-item-list .added-item-list {
        padding: 10px;
    }

    .add-item-list .qty-in-de input,
    .added-item-list .qty-in-de input {
        width: 28px;
        text-align: center;
    }

    .add-cart-item .add-item-list .item-profile-detail,
        {
        width: 75%;
    }

    .cart-item-list .added-item-list .added-item-profile-detail {
        width: 70%;
    }

    .add-item-list .item-profile-detail .item-title,
    .added-item-list .added-item-profile-detail .item-title {
        font-size: 16px;
    }

    .add-item-list .item-profile-detail .pricing,
    .added-item-list .added-item-profile-detail .pricing {
        font-size: 14px;
    }

    /*
    .cart-item-list .added-item {
        height: 200px;
        overflow-y: scroll;
    }
*/

    /*
    .add-cart-item .add-item {
        height: 245px;
    }
*/

}

@media (min-width: 992px) and (max-width: 1199px) {
    .vendor-profile-section .v-detail {
        top: 40px;
    }

    .vendor-profile-section .vendor-profile-img {
        width: 130px;
        height: 130px;
    }

    .vendor-profile-section .venor-profile-detail {
        padding-top: 0px;
        padding-left: 0px;
        margin-top: -10px;
    }

    .add-cart-section-inner .search-field .input-group {
        width: 100% !important;
    }

    .add-cart-item .add-item-list .item-profile-img,
    .cart-item-list .added-item-list .added-item-profile-img {
        height: 65px;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        padding-left: 10px;
    }

    .add-cart-item .add-item-list,
    .cart-item-list .added-item-list {
        padding: 10px;
    }

    .add-item-list .qty-in-de input,
    .added-item-list .qty-in-de input {
        width: 28px;
        text-align: center;
    }

    .add-cart-item .add-item-list .item-profile-detail,
        {
        width: 75%;
    }

    .cart-item-list .added-item-list .added-item-profile-detail {
        width: 40%;
    }
    
    .cart-item-list .added-item{
        height: calc(100vh - 750px);
    }

    /*
    .cart-item-list .added-item {
        height: 200px;
        overflow-y: scroll;
    }
*/

    /*
    .add-cart-item .add-item {
        height: 245px;
    }
*/

}

@media (max-width: 1200px) {
    .add-cart-section-inner .search-field .input-group {
        width: 100% !important;
    }
    
    .cart-item-list .added-item{
        height: calc(100vh - 730px);
    }

    /*
    .cart-item-list .added-item-list .added-item-profile-detail{
        width: 48%;
    }
*/
}

/*
@media (min-width: 1200px) and (max-width: 1299px) {
    .add-cart-item .input-group {
        width: 475px !important;
    }

    .add-cart-item .add-item-list .item-profile-img,
    .cart-item-list .added-item-list .added-item-profile-img {
        height: 90px;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        padding-left: 10px;
    }

    .add-cart-item .add-item-list,
    .cart-item-list .added-item-list {
        padding: 10px;
    }

    .add-item-list .qty-in-de input,
    .added-item-list .qty-in-de input {
        width: 28px;
        text-align: center;
    }

    .add-cart-item .add-item-list .item-profile-detail,
    .cart-item-list .added-item-list .added-item-profile-detail {
        width: 55%;
    }

    .signup-page-inner .form-inline .form-control {
        width: 270px;
    }

}
*/
