@media only screen and (max-width:767px) {
    body {
        font-size: 14px
    }

    .mobile-nav .logo img {
        max-width: 100%;
        height:100%;
        margin-top: -5px
    }

    .others-options {
        display: none !important
    }

    .side-nav-responsive {
        display: block
    }

    .side-nav-responsive .container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .side-nav-responsive .container .container {
        position: absolute;
        top: 55px;
        right: -20px;
        max-width: 185px;
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .7s;
        transition: .7s;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        z-index: 2;
        padding-left: 15px;
        padding-right: 15px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    body {
        font-size: 14px
    }

    .mobile-nav .logo img {
        max-width: 100%;
        height:100%;
        margin-top: -5px
    }

    .others-options {
        display: none !important
    }

    .side-nav-responsive {
        display: block
    }

    .side-nav-responsive .container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    
}

@media (max-width: 1200px) {
    .main-nav .others-options .option-item:not(:last-child) {
        margin-right: 25px;
    }

    .main-nav nav .navbar-nav .nav-item:not(:last-child) {
        margin-right: 10px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .navbar-light .navbar-brand img {
        width: 150px
    }

    .main-nav .others-options .option-item .login-btn .login-btn-icon {
        background: none;
        padding: 0px;
        border: none;
        color: #112148;
        font-size: 27px;
        transition: all .5s;
    }

    .main-nav .others-options .option-item .login-btn .login-btn-icon:hover {
        background: none;
        color: #ed1f24;
        border: none;
    }

    .navbar-light .option-item .login-btn .login-btn-icon .ls-text {
        display: none;
    }

    .main-nav .others-options .option-item:not(:last-child) {
        margin-right: 15px;
    }

    .main-nav nav .navbar-nav .nav-item:not(:last-child) {
        margin-right: 10px;
    }
}

@media (min-width: 360px) and (max-width: 991px) {
    .side-nav-responsive .option-item:not(:last-child) {
        margin-right: 20px !important;
    }

    .side-nav-responsive .option-item .close-btn:hover {
        color: #1fa2ff;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%)
    }

    .side-nav-responsive .option-item .close-btn.active {
        display: block
    }

    .side-nav-responsive .option-item .location-btn .location-btn-icon {
        font-size: 20px;
        /*    color: #790096;*/
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon {
        font-size: 20px;
        position: relative
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon,
    .side-nav-responsive .option-item .location-btn .location-btn-icon {
        color: #112148;
        transition: all .3s;
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon:hover,
    .side-nav-responsive .option-item .location-btn .location-btn-icon:hover {
        color: #ed1f24;
    }

    .side-nav-responsive .option-item .add-cart-btn .cart-btn-icon span {
        position: absolute;
        top: -1px;
        left: 15px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        background-color: #ed1f24;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 11px;
    }

    .side-nav-responsive .option-item .login-btn .login-btn-icon {
        font-size: 20px;
        color: #112148;
        transition: all .3s;
    }

    .side-nav-responsive .option-item .login-btn .login-btn-icon:hover {
        color: #ed1f24;
    }

    .side-nav-responsive .option-item .login-btn .login-btn-icon .ls-text {
        display: none;
    }

    .nav-item .nav-link .figure .figure-caption {
        left: 31px;
    }

    .mean-container a.meanmenu-reveal {
        width: 25px;
    }

    .mobile-nav nav .navbar-nav .nav-item a i {
        display: inline;
    }

    .nav-item .nav-link .figure .figure-caption {
        width: 85px;
    }
}
@media only screen and (max-width: 1024px){
    body{
        overflow-x:hidden ;
    }
    .head{
        justify-content: flex-start;
    }
    .head .middile-nav{
        z-index: 1;
    }
    .head .middile-nav{
        transform: translateX(-135%);
        transition: 500ms ease-in-out;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
    }
    .head .middile-nav ul{
        flex-direction: column;
        background: #000;
        align-items: flex-start;
       width: 500px;
    }
    .open{
        transform: translateX(-8%) !important;
    }
    .head .burgur-menu{
        display: block;
    }
    .head .menu-open{
        top: 7px !important;
    }
    .head .menu-open .lines:nth-child(1){
        transform: rotate(48deg) !important;
        top: 20px !important;
    }
    .head .menu-open .lines:nth-child(2){
        opacity: 0 !important;
    }
    .head .menu-open .lines:nth-child(3){
        transform: rotate(-48deg) !important;
    }
    .head .middile-nav ul li a{
        color: #fff;
    }
    .head .burgur-menu{
        top: 32px;
    }
    .head .menu-open {
        top: 22px !important;
    }
    .head .right-cart{
        flex: 33;
    }
    .head .left-logo{
        flex: 64;
        text-align: center;
    }
    .vendor-section .card span{
        transform: translateY(0);
    }
}
@media only screen and (max-width: 991px){
    .mean-container .mean-bar{
        height: 77px !important;
    }
    .about-section{
        padding: 100px 0 40px 0;
    }
    .side-nav-responsive .dot-menu{
        right: 60px;
        top: 24px;
    }
    .mean-container a.meanmenu-reveal{
        padding: 32px 15px 0 0;
    }
    .about-section {
        padding: 110px 0 40px 0;
    }
    .head .left-logo{
        flex: 47;
    }
}
@media only screen and (max-width: 768px){
    
    .side-nav-responsive .dot-menu{
        right: 45px;
        top: 24px;
    }
    .meanmenu-reveal {
        top: 11px;
    }
    .mean-container .mean-nav{
        margin-top: 78px;
        
    }
    .mobile-nav nav .navbar-nav{
        height: auto;
        padding-bottom: 20px;
    }
    .head .left-logo{
        flex: 38;
    }
    .head .burgur-menu {
        top: 26px;
    }
}
@media only screen and (max-width: 667px){
    .left-logo {
        text-align: center;
    }
   
    
    .copy-right-area .right-icons{
        justify-content: center;
    }
}
@media only screen and (max-width: 414px){
    .about-section {
        padding: 100px 0 40px 0;
    }
    .mobile-nav .logo img{
        max-width: 70%;
    }
    .side-nav-responsive .dot-menu{
        right: 24px;
        top: 15px;
    }
    .mean-container .mean-bar {
        height: 60px !important;
    }
    .mean-container a.meanmenu-reveal{
        padding: 12px 15px 0 0;
    }
    .copy-right-area .copy-right-text{
        padding: 30px 0;
    }
    .head .middile-nav ul{
        width: 408px;
    }
    .open {
        transform: translateX(-11%) !important;
    }
    .copy-right-area img{
        width: auto;
    }
    header{
        height: auto;
    }
    .head{
        justify-content: center;
        flex-direction: column;
    }
    .head .burgur-menu{
        left: 0;
        bottom: 0;
    }
    .head .right-cart ul li {
        padding: 30px 0;
    }
    .head .right-cart ul li:not(:last-child){
        margin-right: 30px;
    }
    .head .right-cart{
        width: 100%;
    }
    .head .burgur-menu {
        top: 94px;
    }
    .head .menu-open {
        top: 84px !important;
    }
    .head .middile-nav{
        top: 140px;
    }
    .modal-content .form{
        padding: 0 15px;
    }
}
@media only screen and (max-width: 360px){
    .head .middile-nav{
        transform: translateX(-150%);
    }
    .open{
        transform: translateX(-12%) !important;
    }
}