.tab-content .food-serching {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-content .food-serching .serarch-with-icons {
  position: relative;
}

.tab-content .food-serching .serarch-with-icons input[type="text"] {
  height: 45px;
  width: 539px;
}

.tab-content .food-serching .serarch-with-icons .food-serch-icon {
  position: absolute;
  right: 23px;
  top: 13px;
}

.tab-content .category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  list-style: none;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.tab-content .category ul li {
  padding: 8px 0;
}

.tab-content .category ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  padding-right: 5px;
}

.tab-content .category ul li a:hover {
  color: #ed1f24;
  border-right: 2px solid #ed1f24;
}

.tab-content .food {
  /*-- vender model css --*/
}

.tab-content .food .food-heading h1 {
  font-size: 22px;
  padding: 8px 0;
  margin-bottom: 0;
}

.tab-content .food .food-heading .food-items {
  font-size: 14px;
  padding-bottom: 8px;
  display: block;
}

.tab-content .food .food-detials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.tab-content .food .food-detials img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-right: 5px;
}

.tab-content .food .food-detials .food-name {
  -webkit-box-flex: 15;
      -ms-flex: 15;
          flex: 15;
  padding: 8px 0;
}

.tab-content .food .food-detials .food-name h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.tab-content .food .food-detials .food-name .amounts {
  color: #ccc;
  padding: 8px 0;
}

.tab-content .food .food-detials .food-name .price {
  font-weight: bold;
  font-size: 16px;
}

.tab-content .food .food-detials .add-food {
  padding-top: 33px;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab-content .food .food-detials .add-food button {
  border: none;
  width: 90px;
  height: 35px;
  text-align: center;
  border-radius: 50px;
  background: #ed1f24;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.tab-content .food .food-detials .add-food button:focus {
  outline: none;
}

.tab-content .food .food-detials .add-food button .add-icon {
  font-size: 16px;
  margin-right: 10px;
}

.tab-content .food .food-detials .add-food .counter-number {
  opacity: 0;
  pointer-events: none;
}

.tab-content .food .food-detials .add-food .counter-number .cartUpdate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #ed1f24;
  width: 90px;
  height: 35px;
  border-radius: 50px;
  bottom: 35px;
}

.tab-content .food .food-detials .add-food .counter-number .cartUpdate #number {
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
  color: #fff;
}

.tab-content .food .food-detials .add-food .counter-number .cartUpdate #number:focus {
  outline: none;
}

.tab-content .food .food-detials .add-food .counter-number .cartUpdate input::-webkit-outer-spin-button,
.tab-content .food .food-detials .add-food .counter-number .cartUpdate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab-content .food .food-detials .add-food .counter-number .cartUpdate #increase, .tab-content .food .food-detials .add-food .counter-number .cartUpdate #decrease {
  position: absolute;
  right: 9px;
  top: 0px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.tab-content .food .food-detials .add-food .counter-number .cartUpdate input{
  width: 70px !important;
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    position: relative;
    left: 10px;
}

.tab-content .food .food-detials .add-food .counter-number .cartUpdate #decrease {
  left: 9px;
  right: unset;
  z-index: 1;
}

.tab-content .food .food-detials .add-food .change-counter {
  opacity: 1 !important;
  pointer-events: all !important;
}

.tab-content .food #exampleModalCenter2 .close {
  display: none;
}

.tab-content .food #exampleModalCenter2 .modal-content {
  background: #fff;
  width: 700px;
  text-align: left;
  padding: 30px 20px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details {
  position: relative;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind {
  border-bottom: 1px solid #ed1f24;
  padding-left: 19px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind h2 {
  font-size: 20px;
  text-align: left;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind .custoom-price {
  font-size: 14px;
  padding-bottom: 10px;
  color: #686b78;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-headind .custom-icons {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  position: absolute;
  left: 0px;
  top: 6px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items {
  padding-top: 20px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items h3 .requaired {
  font-size: 16px;
  color: #686b78;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items h3 .star {
  color: #686b78;
  margin-right: 10px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio {
  padding-left: 18px;
  padding-bottom: 13px;
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .custom-icons {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  position: absolute;
  left: 0px;
  top: 5px;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 0;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food .counter-number {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-items .input-radio .add-food .change-counter {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.tab-content .food #exampleModalCenter2 .modal-content .customize-details .custom-steps {
  padding: 9px;
  background: #ed1f24;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.tab-content .detial-cart {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.tab-content .detial-cart .your-cart {
  padding: 15px 0;
}

.tab-content .detial-cart .your-cart h2 {
  font-size: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.tab-content .detial-cart .your-cart .cart-items {
  font-size: 14px;
}

.tab-content .detial-cart .all-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-content .detial-cart .all-food .food-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tab-content .detial-cart .all-food .food-name h2 {
  font-size: 16px;
}

.tab-content .detial-cart .all-food .food-name .waights {
  font-size: 14px;
  color: #6f7588;
}

.tab-content .detial-cart .all-food .counter-number .cartUpdate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #ed1f24;
  width: 90px;
  height: 35px;
  border-radius: 50px;
}
.tab-content .detial-cart .all-food .counter-number .cartUpdate input {
    width: 70px !important;
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    position: relative;
    left: 10px;
}
.tab-content .detial-cart .all-food .counter-number .cartUpdate #increase2 {
  font-size: 28px;
  line-height:20px;
  position: absolute;
  right:10px;
  top: 5px;
  color: #fff
 
}
.tab-content .detial-cart .all-food .counter-number .cartUpdate #decrease2 {
  font-size: 28px;
  line-height:20px;
  position: absolute;
  left:10px;
  top: 5px;
  color: #fff;
  z-index: 1;

 
}
.tab-content .detial-cart .all-food .counter-number .cartUpdate #number {
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
  color: #fff;
}

.tab-content .detial-cart .all-food .counter-number .cartUpdate #number:focus {
  outline: none;
}

.tab-content .detial-cart .all-food .counter-number .cartUpdate input::-webkit-outer-spin-button,
.tab-content .detial-cart .all-food .counter-number .cartUpdate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab-content .detial-cart .all-food .counter-number .cartUpdate #increase, .tab-content .detial-cart .all-food .counter-number .cartUpdate #decrease {
  position: absolute;
  right: 9px;
  top: 0px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.tab-content .detial-cart .all-food .counter-number .cartUpdate #decrease {
  left: 9px;
  right: unset;
}

.tab-content .detial-cart .all-food .food-price {
  margin-left: 20px;
  margin-top: 10px;
}

.tab-content .detial-cart .totle-price {
  padding: 15px 22px;
  background: #ed1f24;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffff;
  font-size: 16px;
  font-weight: bold;
  margin: 55px 0 0;
  cursor: pointer;
}

.tab-content .detial-cart .totle-price:hover {
  background: #f03a3d;
}

.tab-content .detial-cart .totle-price .check-out-price {
  text-align: right;
  float: right;
}
/*# sourceMappingURL=vender.css.map */